<div class="container">

    <div class="section">

        <div class="row ">
            <h5 class="light center-text">Aktuális események</h5>
        </div>
    </div>

    <div class="section">

        <div class="row">

            <a href="#tabor">
                <div class="col s12 m3">
                    <p>
                        <img class="responsive-img img-border" style="margin-top: 5px;" width="600px" height="400px"
                            src="img/Flowtabor_borito_2024_06.webp">
                    </p>
                    <p class="center-text">
                        Flow jógatábor</br>deepen your practice</br>
                        <span class="light">Harsány - 2024. június 20-23.</span>
                    </p>

                </div>
            </a>

            <div class="col s12 m1"></div>

            <a href="#orak">
                <div class="col s12 m4">
                    <p>
                        <img class="responsive-img img-border" style="margin-top: 5px;" height="400px"
                            src="img/stabilitás_2024-04.webp">
                    </p>
                    <p class="center-text">
                        Stabilitás online flowjóga órák</br>
                        <span class="light">Ajándék e-book melléklettel!</span>
                    </p>

                </div>
            </a>

            <div class="col s12 m1"></div>

            <a href="#kepzes">
                <div class="col s12 m3">
                    <p>
                        <img class="responsive-img img-border" style="margin-top: 5px;" width="600px" height="400px"
                            src="img/képzés_7_chakras.webp">
                    </p>
                    <p class="center-text">
                        Jóga Flow Oktatóképzés</br>
                        <span class="light">Samadhi jógastúdió - 2024.03.16 - 2024.06.09</span>
                    </p>
                </div>
            </a>
        </div>

    </div>

</div>
</div>
</div>