<div class="container">

    <div class="section">

        <div class="row ">
            <h5 class="light center-text">Aktuális események</h5>
        </div>
    </div>

    <div class="section">

        <div class="row">

            <a href="#tabor">
                <div class="col s12 m3">
                    <p>
                        <img class="responsive-img img-border" style="margin-top: 5px;" width="600px" height="400px"
                            src="img/aktualis_2023_01.webp">
                    </p>
                    <p class="center-text">
                        Egyensúly teremtő jógatábor </br>
                        <span class="light">Ráckeve - 2023.01.27 - 2023.01.29.</span>
                    </p>

                </div>
            </a>

            <div class="col s12 m1"></div>

            <a href="#orak">
                <div class="col s12 m4">
                    <p>
                        <img class="responsive-img img-border" style="margin-top: 5px;" height="400px"
                            src="img/online-orak-2022-10.webp">
                    </p>
                    <p class="center-text">
                        Fascia a jógában </br>
                        <span class="light">7 alkalmas online flowjóga</span>
                    </p>

                </div>
            </a>

            <div class="col s12 m1"></div>

            <a href="#kepzes">
                <div class="col s12 m3">
                    <p>
                        <img class="responsive-img img-border" style="margin-top: 5px;" width="600px" height="400px"
                            src="img/MG_0109_600.jpg">
                    </p>
                    <p class="center-text">
                        Jóga Flow Oktatóképzés</br>
                        <span class="light">Samadhi jógastúdió - 2022.10.08 - 2023.01.08.</span>
                    </p>
                </div>
            </a>
        </div>

    </div>

</div>
</div>
</div>