<div class="container">

    <div class="section">

        <div class="row ">
            <h1 class="light center-text">Aktuális események</h1>
        </div>
    </div>

    <div class="section">

        <div class="row">

            <a href="/tabor">
                <div class="col s12 m3">
                    <p>
                        <img class="responsive-img img-border" style="margin-top: 5px;" width="600px" height="400px"
                            src="img/Flowtabor_borito.webp">
                    </p>
                    <p class="center-text">
                        Jóga, önismeret és meditáció elvonulás
                        </br>
                        <span class="light">Szervezés alatt</br>
                            Nézz bele az előző táborainkba!</span>
                    </p>

                </div>
            </a>

            <div class="col s12 m1"></div>

            <a href="/orak">
                <div class="col s12 m4">
                    <p>
                        <img class="responsive-img img-border" style="margin-top: 5px;" height="400px"
                            src="img/kreativ26.webp">
                    </p>
                    <p class="center-text">
                        Kreatív Tavaszi Flow</br>
                        <span class="light">Kezdés: 2026. Április 29. 9:00</span>
                    </p>

                </div>
            </a>

            <div class="col s12 m1"></div>

            <a href="/kepzes">
                <div class="col s12 m3">
                    <p>
                        <img class="responsive-img img-border" style="margin-top: 5px;" width="600px" height="400px"
                            src="img/2025kepzes.webp">
                    </p>
                    <p class="center-text">
                        Fascia a jógában akkreditált oktatói továbbképzés</br>
                        <span class="light">Kezdés: 2026. október 10.</span>
                    </p>
                </div>
            </a>
        </div>

    </div>

</div>
</div>
</div>