<div class="container">
    <div class="section">
        <div class="row">
            <h5 class="light">Access Bars® kezelés</h5>
        </div>

        <div class="row">
            <div class="col s12">

                <p class="light justify-text">
                    Az Access Bars® kezelés</br>
                    - növeli az élethez való pozitív hozzáállásodat</br>
                    - csökkenti a szorongást</br>
                    - javítja az alvást</br>
                    - aktíválja a test öngyógyító képességét</br>
                    - fejleszti a kreativitást</br>
                    - javítja a kapcsolatteremtő képességet</br>
                    - lassítja az öregedési folyamatot</br>
                    - közelebb kerülhetsz álmaid eléréséhez</br>
                    - segíti az éberséget, a jelenlétet</br>
                    - hozzásegít a mély relaxációhoz</br>
                    - gyógyítja a kapcsolataidat</br>
                    - képessé válsz a be- és elfogadásra</br>
                    - egyre több és több lehetőséget kapsz egy boldogabb és teljesebb életre</br>
                </p>
                <p class="light justify-text">
                    Az Access Bars® egy relaxáló és tápláló kezelés, amely segít megváltoztatni számos életterületet,
                    beleértve az önmagunkkal való kapcsolatot is. Kiválóan alkalmas a stressz és szorongás enyhítésére,
                    a depresszió és traumák oldására, az alvás, az egészség, a testkép, a pénzzel való kapcsolat
                    javítására és még ennél is sokkal többre.</br>
                    </br>
                    Az Access Bars® kezelés egy gyengéd technika, mely során megérintjük a fejet 32 Access Bars ponton.
                    Az agy elektromos töltése ekkor eloszlik, aminek köszönhetően az agyban és a testben rekedt energiák
                    felszabadulnak, és a korlátozásaink könnyedén feloldódnak. A kezelés alatt az agy eléri a théta
                    állapotot, a mély relaxáció állapotát, amely aktiválja a test öngyógyító képességét és megnyitja a
                    tudatosság terét az életünkben.</br>
                    </br>
                    Az Access Bars kezelés titka, hogy a teljesen ellazult állapot megteremtésével létrehozza azt a
                    teret, amiben a változás létre tud jönni. Ebben a térben tudunk elkezdeni gyógyulni, itt tudunk
                    könnyedén elengedni, és itt tud valami teljesen új megszületni.</br>
                    </br>
                    Az Access Bars kezelés elkezdi felszabadítani azokat a gondolatokat, érzéseket, érzelmeket,
                    hiedelmeket és korlátozó programokat, amelyek már nem szolgálnak téged.</br>
                </p>

                <h5 class="light"> Mi történik egy kezelésen?</h5>

                <p class="light justify-text">
                    A kezelés fekvésben, masszázságyon történik, időtartama 60 perc. A fejet, kezeket és a lábakat
                    érintjük,
                    nincs szükség váltóruhára, de kényelmes öltözet javasolt.
                </p>



            </div>
        </div>
    </div>
</div>