<div class="container">
  <div class="section">

    <div class="row">
      <h5>credits</h5>
      <p>
        <a href="https://handlebarsjs.com/">handlebarsjs.com</a>
        <br />
        <a href="https://materializecss.com/">materializecss.com</a>
        <br />
        <a href="https://fontawesome.com/">fontawesome.com</a>
        <br />
        <a href="http://fontello.com/">fontello.com</a>
        <br />
        <a href="https://realfavicongenerator.net/">realfavicongenerator.net</a>
        <br />

      </p>
    </div>
  </div>
</div>