<div class="container">
  <div class="section">
    <div class="row">
      <h5 class="light">108 inspiráció jógaórákhoz e-book</h5>
    </div>

    <div class="row">
      <div class="col s12 m12">
        108 ötlet - 11 óravázlat - 55 oldal
      </div>
      <div class="col s12 m12">
        Az ára 5000 Ft - Küldj üzenetet ha szeretnél egyet!
      </div>
    </div>

    <div class="row">
      <div class="col s12 m4">
        <img class="responsive-img img-border" style="margin-top: 5px;" src="img/108-37.png" />
      </div>
      <div class="col s12 m4">
        <img class="responsive-img img-border" style="margin-top: 5px;" src="img/108-borító.png" />
      </div>
      <div class="col s12 m4">
        <img class="responsive-img img-border" style="margin-top: 5px;" src="img/108-38.png" />
      </div>
    </div>
  </div>
</div>