<div class="container">
  <div class="section">

    <div class="row">
      <h5 class="light">Otthoni fascia flow csomag</h5>
    </div>

    <div class="row">
      <div class="col s12">
        <p>
          Szeretettel készítettem neked egy olyan otthon végezhető gyakorlatsort, amely nemcsak átmozgat, hanem felszabadít. A Fascia Flow videócsomag a lágy nyújtások, hullámzó mozdulatok, fascia-vonalak mentén végzett mobilizáció és a tudatos légzés egyensúlya.
        </p>
        <p>
          Ez a gyakorlás segít, hogy kilépj a merevségből, feloldd a feszültséget, és visszatalálj az áramlásodhoz.
        </p>

        <h6 class="light">Kinek ajánlom?</h6>
        <p>
          – Ha sokat ülsz, és húzódnak az izmaid.<br>
          – Ha gyakran érzed, hogy „nem vagy a testedben".<br>
          – Ha szeretnél lágyabb, regeneráló mozgást beépíteni.<br>
          – Ha a jóga erősebb része helyett most inkább a finom ellazulásra vágysz.<br>
          – Ha fontos neked, hogy otthon, saját tempódban gyakorolj.
        </p>

        <h6 class="light">Hogyan férsz hozzá?</h6>
        <p>
          A megvásárlás után korlátlanul, örök hozzáféréssel nézheted a videókat. Gyakorolj velem, amikor csak szeretnél — reggel, este, vagy két meeting között.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="videos">
          {{#each items}}
            <div>
              <div class="thumb img-border">

              </div>
              <p class="desc">{{this.title}}</p>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
<div style="display: none;">
  <div id="player"></div>
</div>

<div class="modal" onClick="Y.closeModal()">
  <div class="modal-content">
    <p>A prémium videókhoz tőlem kérhetsz hozzáférést, vedd fel velem a
      kapcsolatot az elérhetőségek egyikén.</p>
    {{#if flags.mode_youtube_auth}}
      <p>Ha már kaptál jogosultságot, ne felejts el bejelentkezni a google
        fiókodba!</p>
      <a
        href="https://myaccount.google.com"
        class="waves-effect waves-light btn"
      >Bejelentkezés</a>
    {{/if}}
    <div class="footer">
      bezárás
    </div>
  </div>
</div>

{{!-- <script>
  var Y = { videos:
  {{{json items}}}
  }
</script> --}}

<!--  Scripts-->
