<div class="container">
    <div class="section">

        <div class="row light">
            <h5>Jógaoktató képzésre jelentkezel?</h5>
            <p>
                Vedd fel velünk a kapcsolatot, az <a href="mailto:info@samadhijoga.hu">info@samadhijoga.hu</a> email-címen és
                ezt követően tájékoztatunk minden további részletről!
            </p>

            <h5>Táborba jelentkezel?</h5>
            <p>
                Ahhoz, hogy érvényesítsd a következő jógatáborunkra a jelentkezésedet, nem kell mást tenned, mint:
            </p>
            <ol>
                <li>
                    Az alábbi gombra kattintva töltsd ki az űrlapot:
                    <div style="margin: 20px 0px ;">
                        <a class="cta-1"  target="_blank"
                            href="https://docs.google.com/forms/d/e/1FAIpQLSckPFCxUK35rXQmiHJrMv5pNIwoqAl-Myvdv_P2O7uWsgN_9Q/viewform">Jelentkezem
                            a táborra!</a>
                    </div>
                </li>
                <li>
                    Jelentkezésedet az előleg befizetésével tudod megerősíteni személyesen Czvikli Zsuzsannánál,
                    vagy utalással az alábbi lehetőségek egyikén.
                </li>
            </ol>
            <div class="card-panel col s12 m6 center-text">
                <p>
                    <b>Czvikli Zsuzsanna EV</b>
                </p>
                <div>OTP 11773061-08183116</div>
                <div>IBAN: HU33117730610818311600000000</div>
                <div>BIC/SWIFT kód: OTPVHUHBXXX</div>
                <p><i class="icon-paypal"></i> <a href="https://www.paypal.me/czviklizs">paypal.me/czviklizs</a></p>
                <p>
                    <b>Revolut</b>
                </p>
            </div>
            
        </div>
    </div>
</div>