<div class="container">
    <div class="section">

        <div class="row light">
            <h5>Jógaoktató képzésre jelentkezel?</h5>
            <p>
                Vedd fel velünk a kapcsolatot, az <a href="mailto:info@samadhijoga.hu">info@samadhijoga.hu</a>
                email-címen és
                ezt követően tájékoztatunk minden további részletről!
            </p>

            <div class="card-panel col s12 m6 center-text">
                <p>
                    <b>Czvikli Zsuzsanna EV</b>
                </p>
                <div>OTP 11773061-08183116</div>
                <div>IBAN: HU33117730610818311600000000</div>
                <div>BIC/SWIFT kód: OTPVHUHBXXX</div>
                <p><i class="icon-paypal"></i> <a href="https://www.paypal.me/czviklizs">paypal.me/czviklizs</a></p>
                <p>
                    <b>Revolut</b>
                </p>
            </div>

        </div>
    </div>
</div>