<div class="container">
    <div class="section">
        <div class="row">
            <h5 class="light">Jógaéletmód motiváció</h5>
        </div>

        <div class="row">
            <div class="col s12">

                <p class="light justify-text">
                    A testtartásod befolyásolja az érzelmeidet, gondolataidat, és ez fordítva is igaz. Tegyél egy
                    egyszerű próbát: szándékosan vegyél fel egy hanyag tartást - görnyedt hát, előre eső vállak és fej,
                    akár húzd össze magad egészen kicsire. Hogy érzed magad? Majd húzd ki magad, sóhajts egyet, emeld
                    fel a fejed és mosolyogj. Hogy érzed magad most? A nap folyamán legtöbbször tudattalanul tartjuk
                    magunkat, úgy ahogy tudjuk.. Erre jönnek a különböző ingerek a környezetünkből, amire így vagy úgy
                    reagálunk. Hirtelen zajra bekapcsolnak az életmentő reflexek, összehúzzuk magunkat, védjük a
                    szerveinket. Vidám zenére pedig lehet hogy pont ellenkezőleg, szépen kihúzzuk magunkat és táncolunk.
                    Ha fáj valamid, kompenzálsz, ami szintén befolyásolja a tartásodat. Ha tudatos vagy, ezeket
                    észreveszed és (amikor észreveszed) korrigálod is. Aztán megint elfelejted.. A legjobban az formál,
                    amit a legtöbbet csinálsz. Ahogy legtöbbször tartod magad. Ahogy a legtöbbször mozdulsz. Ezzel hatsz
                    a leginkább az ézrelmeidre, gondolataidra, ezáltal az egész életedre. A jó hír az, hogy
                    mozgásterápiával (szükség esetén manuáls terápiával kiegészítve) rengeteget tudsz javítani az
                    életminőségeden. Nemcsak azért, mert egészségesebbé válik a tested. Egészen más színben látod a
                    világot, ha napi szinten "figyelsz a testtartásaidra". Ehhez van egy nagyon jó recept: jóga. Ha
                    rendszeresen jógázol, már egészen biztosan tapasztaltad, hogy mondjuk egy mellkasnyitó pózban
                    valóban átölelnéd az egész világot, míg egy leborulásban képtelen vagy (h)arcoskodni. Ehelyett békét
                    tapasztalsz és nyugalmat, bizonyosságot szerzel, hogy a jó cselekedet mindenki boldogságának a
                    forrása.

                </p>

                <div class="divider"></div>

                <p class="light justify-text">
                    Teremtő erő. Lehet, hogy nem kérted, mégis a tiéd. Lehet, hogy tudsz róla, lehet, hogy nem. Lehet,
                    hogy akarod, lehet, hogy nem. De mindenképpen teremtesz. Hogy mit, az rajtad múlik.. Nem a nálad
                    megjelenő gondolatokon és nem is azon amit nagyon el akarsz érni. Akkor teremtesz jól, ha örömödet
                    leled abban amit csinálsz. Ha gyakran éled meg a flow élményt: amikor valamiben annyira el tudsz
                    merülni, hogy észre sem veszed az idő múlását. Mert akkor, ott a jelenben vagy és nem számít semmi
                    más. Keress olyan tevékenységet, ami feltölt, kikapcsol, és foglalkozz vele amennyit lehet. Nekem a
                    jóga jött be, de lehet bármilyen hobbi, ami örömmel tölt el. Majd figyeld meg, hogyan változik
                    körülötted a világ.
                </p>
                <div class="divider"></div>

                <p class="light justify-text">
                    Nagyon nem mindegy, hogy hogyan gondolkozol magadról. Az idő múlásáról, az öregedésről. Vedd észre a
                    sémákat, amik a fejedben vannak: "ebben a korban már nehezebben megy", "kicsit berozsdásodtam
                    már..". Nagyon elgondolkoztat, amikor nálam 10-20 évvel (!) fiatalabbaktól hallok ilyeneket, még ha
                    viccből is. Ha észreveszed, és elfogadod a tényt, hogy ezeket azért mondod, mert így hallottad a
                    környezetedben, mert így szokás, mert mások is ezt mondják, már egy lépés afelé, hogy változtatni
                    tudj. Hogy elengedd ezeket a programokat, és inkább vállald magadért a felelősséget. Mert lehet,
                    hogy tényleg fáradt vagy, de azon az nem segít, ha megmagyarázod magadnak, hogy ennek így kell
                    lennie. Mi az, ami segít? Jó dolog a pozitív gondolkozás, de sajnos ha csak annyit teszel, hogy
                    mostantól inkább azt gondolod, hogy egyre fiatalabb és erősebb vagy, kevés lesz. Akkor mégis, mi az
                    ami segít?
                    Ahogyan a legtöbbször érzed magad. Ha fáradt vagy és stresszes, nem biztos, hogy az a legjobb
                    megoldás, hogy akkor leülsz tévézni. Ugyan a tested elvileg pihen, de a műsorokból mégtöbb stresszt
                    gyűjtesz be. Viszont segíthet, ha mozogsz egy kicsit. Egy laza átmozgató jógagyakorlás este (vagy a
                    nap bármelyik időszakában), rövid meditációval a végén csodákra képes. Nem kevesebb lesz az
                    energiád, hanem inkább több. Lehet hogy utána még szívesen megcsinálod a halogatott feladatokat, és
                    egész biztos, hogy jobban fogsz aludni. A kulcs a rendszerességben rejlik. Hidd el, nem kell majd
                    sokat erőltetni, néhány alkalom után megtapasztalod a pozitív változásokat, aztán majd gyakorolsz ha
                    kell, ha nem. ;) Mert jobban érzed magad tőle. Tested rugalmasabbá válik, olyan mozdulatokat is meg
                    tudsz csinálni, amit gyerekkorodban csináltál utoljára, vagy még akkor sem ment. Szóval akkor
                    lehetséges, hogy fiatalodsz? Bizonyos értelemben igen. És ahogy egyre többet gyakorolsz, egyre több
                    új mozdulatot tudsz megcsinálni, és nem azt fogod gondolni magadról, hogy ebben a korban ez már csak
                    egyre rosszabb lesz, hanem inkább azt, hogy egyre jobban megy az élet. Ahogy a tested megnyílik,
                    mentálisan is megváltozol. Észreveszed, hogy egyre inkább az egészséges ételeket választod, inkább
                    kikapcsolod a híreket a rádióban és elolvasol helyette egy jó könyvet.. Így történik meg az
                    életmódváltás. Így leszel a kor rabja helyett az energikus élet tapasztalója.

                </p>
                <div class="divider"></div>

                <p class="light justify-text">
                    A szívünkkel vagyunk képesek a jelenben maradni. Az elme folyton nézi az időt, hol előre rohan, hol
                    a múltban járkál. Szívünkkel viszont képesek vagyunk megélni egy röpke pillanat kiterjedését. Amikor
                    valami olyat csinálsz, amit igazán szeretsz, megszűnik az idő érzékelése, nem gondolsz rá, hogy
                    honnan jöttél és hová tartasz. Egyszerűen csak elfogadod a pillanat szépségét. megéled a jelent,
                    megtapasztalod azt, ami van. Ha a szívedben vagy, egy mélyebb rétegedben élsz, mintha az óceán
                    felszínéről mélyebbre süllyednél, ahol nem érnek el a viharok. Itt, a szíved mélyén is részt tudsz
                    venni az élet minden folyamatában, csak félreáll az elme, nem akadályoz meg a kiteljesedésben.
                    Amikor jógázol, a szívedben élsz. Amikor a szívedben élsz, megszűnik az idő, csak az áramlás van, a
                    nyugalom és a harmónia. Éld meg a jelent, éld meg a flow élményt.

                </p>
                <div class="divider"></div>

                <p class="light justify-text">
                    Van benned egy mély, belső erő, ami megtart téged. Akkor is, ha úgy érzed, kiestél az egyensúlyból.
                    Akkor is, ha làtszólag nincs kapaszkodód. Ha figyelsz magadra, bármikor megtalálhatod ezt a
                    támogatást. Mintha valaki megfogná a kezedet és vinne tovább a jó irányba. Ugyanúgy, ahogy jógaórán
                    a középpontodra irányítva a figyelmet, egyből megtalálod az egyensúlyt, stabilizálj az életben is.
                    Sóhajts egyet, mély belégzés, kilégzés és figyelj befelé a középpontod felé, mèlyen a szíved
                    belsejébe. Akár tedd is rá a kezed és csak figyelj.. Csendesítsd le az elmét, hogy megérezd, ez a
                    belső erő mindig veled van. Mindig tudja merre tarts, hogyan tovább. Csak figyelj rá oda, elengedve
                    elméd zaját, idegen rezgéseket, gondolatokat. Itt nincs más, csak a békesség, a harmónia, szelídség
                    és derű. Igazából ez vagy Te.
                </p>
                <div class="divider"></div>

                <p class="light justify-text">
                    Képzelj el egy helyet, ahol találkozhatsz az igazi varázslóval. A nagy rendezővel, aki irányba teszi
                    az életedet. Képzelj el egy teret, ahol kiteljesedhetsz. Ahol lerakhatod a terheket, ahol
                    feltöltődhetsz. Képzelj el egy eszközt, ami kicseréli a sejteidet, felújítja a testedet, feltölti a
                    szívedet. Képzelj el egy jelent, ahol megláthatod a lehetőségeket. Képzelj el egy életet, ahol ez
                    mind a tiéd lehet. Ez a hely a matracod, ez az eszköz a jóga és ez a varázsló Te magad vagy.

                </p>
                <div class="divider"></div>

                <p class="light justify-text">
                    Fontos része vagy a világnak. Minden egyes belégzéseddel befogadod a külvilágból a levegőt és minden
                    egyes kilégzéseddel elengeded amire nincs szükséged. A kilélegzett levegőben te is benne vagy,
                    hozzáadod magad a világhoz. Gondolj bele, milyen sokszor lélegzel egy nap, és ilyenkor mindig
                    teremtesz, alakítod, formálod a világot, a rezgéseiddel, érzelmeiddel te is az egyik rendezője vagy
                    a nagy egésznek. Nem mindegy, hogy mit adsz bele a közösbe.. Ha harmóniára törekszel, békét és
                    nyugalmat árasztasz, akkor ez az, amit a világhoz hozzáadsz. Ha türelmetlen vagy és dühös, akkor meg
                    az. Szükség van erre is, arra is, de mindig eldöntheted, mit támogatsz. Ha tudatában vagy rendezői
                    szerepednek, akkor a forgatókönyvet is átírhatod. Rengeteg eszköz elérhető ehhez. Az egyik
                    legcsodálatosabb, szívemhez legközelebb álló eszköz a jóga. Amikor jógázol, feloldódsz, felemelő
                    érzéseket élsz meg, így ilyenkor pozitív rezgésekkel építed a világot. Ma is tehetsz egy lépést
                    ebben az ügyben, áramoljunk együtt flow jógán a harmóniáért.
                </p>
                <div class="divider"></div>

                <p class="light justify-text">
                    Néha hosszú ideig keresed a puzzle megfelelő darabját, azt az egyet a sok közül ami éppen oda való.
                    Van, ami majdnem jó, hiszen pont olyan a formája, vagy a színe, de mégsem illik a képbe és csak
                    kutatod a megfelelő megoldást. Idővel elfáradsz és úgy érzed, biztos valami baj van veled, mert már
                    mindent megpróbáltál, de mégsem illik oda semmi. Aztán feladod. Elengeded. Felállsz, már indulnál
                    tovább, de még utoljára ránézel fentről a játékra, mert mégis jó élmény volt benne lenni.. és
                    egyszer csak meglátod. Felkapod a megfelelő részt és bepattintod a helyére. Fogalmad sincs, hogy
                    miért nem láttad eddig.
                    Valahogy így működik a meditáció. Amikor benne vagy egy problémában, elméd keresi, kutatja a
                    megfelelő megoldásokat, ez a dolga. Minél többet görcsölsz rajta, annál messzebb kerülsz a
                    megoldástól.. Amikor meditálsz, képes vagy eltávolodni a problémától. Már csak azáltal, hogy
                    eltávolodtál, elindul egy folyamat a rendeződés felé, mert nem avatkozol bele, nem akadályozod
                    tovább a folyamatot. Ilyenkor egy külső szemlélő szemével láthatod a dolgokat. Nem érint meg, csak
                    látod. Sokszor ilyenkor születik meg az a megoldás, ami mindenkinek a legjobb.
                    A meditációhoz nem kell semmilyen különleges képesség. Gyakorlással bárki elsajátíthatja, és ha
                    rendszeressé válik életedben, elég hamar tapasztalhatsz jótékony hatásokat.
                    Ha nem szeretnél otthon, könyvből gyakorolni, gyere el bármelyik jóga órára, sajátítsd el az első
                    lépéseket. Amint megtapasztalod a változásokat az életminőségedben, magadtól is törekedni fogsz rá,
                    hogy rendszeresen szakíts időt magadra.
                </p>
                <div class="divider"></div>

                <p class="light justify-text">
                    Nem kell, hogy nagy dolgokat tegyél. Igazi hős vagy így is. A szíved mélyén érzed a szenvedélyt,
                    hogy segíteni szeretnél a világnak, már ezzel is hegyeket mozgatsz meg. Meditálj, jógázz, engedd,
                    hogy tisztuljon a test, feloldódjanak a lelki blokkok. Kezdd önmagadon a változást. Kívűlről nem
                    látszik, de a láthatatlan világban összekapcsolódsz sokakkal akik szintén így éreznek. Inspirálsz,
                    erőt adsz, hatással vagy másokra. Mindig lesznek kellemetlen és csodálatos dolgok. Az, hogy hova
                    nézel, a te döntésed. Ahol a figyelem, ott az energia. Amire fókuszálsz, azt támogatod. Nem vagy
                    egyedül. Fókuszálj a szívedre, a középpontodra, és érezni fogod, hogy rengetegen vagyunk, együtt
                    képesek vagyunk rá, hogy felemeljük a világot. 🙏🙏🙏❤❤❤
                </p>
                <div class="divider"></div>

                <p class="light justify-text">

                    A gondolkodás automatikus folyamat. Úgy mint az álmok, jönnek mennek a gondolatok, észrevétlenül is
                    irányítva az életedet. Jó hír, hogy képes vagy rá, hogy megfigyeld, honnan is jönnek a gondolatok.
                    Képes vagy rá, hogy eltávolodj tőlük és semlegesen szemléld őket. Képes vagy lecsendesíteni az
                    elmét, szabadságra menni a gond-olkodótól. Ha már ide eljutsz, arra is képes vagy, hogy az
                    antennáidat magasabb frekvenciákra hangold. Ajándékba elégedettség és nyugalom lesz az életed
                    automatikus teremtése.
                </p>
                <div class="divider"></div>

                <p class="light justify-text">

                    Néha le kell térni az útról, ahhoz hogy megtaláld önmagad. Van, ami megmarad, van ami teljesen
                    újjászületik benned. Van, ami kényelmes, van ami kívűlesik a konfortzónádon. A kényelem jó, de vedd
                    észre, ha rejtekhelynek használod.. Az egyedüllét fontos, hogy megérkezhess, hogy megszülethessen
                    benned az, aki valójában vagy.. Add meg magadnak ezt a teret, ha nem jön magától, hát vedd el. ;) :)
                    Jógázz minden nap! :) 🙏❤️

                </p>
                <div class="divider"></div>

                <p class="light justify-text">

                    Mi lesz más, ha eléred? Jó, ha vannak céljaink az életben, mérföldkövek. Akár az, hogy eléred a
                    lábujjadat, akár egy vizsga, új autó, sorolhatnám. Hiszem, hogy ha valamit tényleg szeretnél, mert
                    fontos számodra, együtt rezonál a szíveddel, előbb-utóbb teljesül. Idézz fel ilyen pillanatokat az
                    életedből. Amikor elérted, amit szeretnél, mi változott? Boldogabb lettél? Meddig tartott a
                    boldogságod? Egészen addig, amíg ki nem találtál egy új célt. Aztán kezdődik minden előlről. 😉 Ez
                    így természetes, kell a motiváció. Ha a szívedre figyelsz, azokra a vágyakra, melyek nem illannak
                    el, amik hosszútávon kitartanak, ezekért érdemes tenni. Csak egy lépést, minden nap. Mert ezek
                    segítenek, irányt mutatnak az életedben. Ezen az úton érdekes dolgokkal találkozhatsz. Amikor nem is
                    számítasz rá, mert a célra figyelsz, mégis ott bújkál, alig várja már, hogy észrevedd, hiszen érted
                    van, téged szolgál, veled örül a felismerés, hogy maga az út a fontos, a sok-sok pillanat amit
                    megélsz.
                </p>
                <div class="divider"></div>

                <p class="light justify-text">

                    Nem kell, hogy tökéletes legyen. A jóga biztosítja számodra azt a teret, ahol találkozhatsz
                    önmagaddal. Ebben a csendben, a befelé figyelés csendjében megmutatkozik a jóga igazi ereje. Ahhoz,
                    hogy másokhoz tudj kapcsólódni, először önmagaddal kell békében lenned. Amikor megtanulsz egy új
                    mozdulatot, nem csak a fizikai tested nyílik, formálódik, mentálisan is megváltozol. Kitörlődnek a
                    régi minták és új lehetőségek jönnek. A jóga egy olyan út, amihez nincs térkép, mindenki másképp
                    találja meg benne önmagát. Nem minden fog elsőre sikerülni, és nem kell, hogy tökéletes legyen.
                    Engedd el a tökéletességre való törekvést. Engedd, hogy a belső fényed vezessen.
                </p>
                <div class="divider"></div>

                <p class="light justify-text">
                    Találkozz önmagaddal a jógaszőnyegen. A jóga nem csak a fizikai test fejlesztéséről szól. A jelenlét
                    a mozdulatban, a légzés figyelése és az érzetek tudatosítása elvezet önmagadhoz. Az egy-másfél órás
                    gyakorlás alatt csak te vagy a jógaszőnyegen, csak magadra figyelsz és ilyenkor nem tudsz elbújni az
                    aktuális érzelmeid elől. Az érzelmeink nagyon jó tanítók, segítenek eligazodni az életben,
                    megmutatják hogy jó úton járunk, vagy valamin változtassunk.. Megmutatják, hogy jó kapcsolatban
                    vagyunk-e a világgal, másokkal, de leginkább önmagunkkal. Amit a másik személy tesz, vagy gondol
                    rólad, a te szempontodból nem fontos.. Az a fontos, ami benned zajlik. Felesleges erőfeszítés
                    megpróbálni megjavítani egy kapcsolatot anélkül, hogy először magadon dolgoznál. A valódi probléma
                    az, hogy elfutsz önmagad elől. A jógaszőnyegen viszont ott maradsz egyedül az érzelmeiddel, így
                    lehetőséget kapsz rá, hogy szembenézz velük. Lehetőséget kapsz rá, hogy felismerd a félelmeidet, a
                    bizonytalanságot, és talán még azt is felismered, hogy a másik személy, vagy egy zavaró esemény csak
                    visszatükrözi ami benned van. Neki semmi köze az egészhez. Ez csak a te dolgod.
                    Tehát ott vagy a jógaszőnyegen és felismered, hogy igazából ezek a negatív érzéseid azok, amiket nem
                    szeretsz magadban. Közben lélegzel, közben figyeled a középpontodat, közben megcsinálsz egy olyan
                    ászanát, ami eddig még sosem sikerült! Kiderül, hogy a korlátaid amiket szabtál magadnak, csak az
                    elmédben léteznek.. Felismered, hogy az életben állított korlátok is csak az elmédben léteznek. Te
                    magad állítottad őket magadnak. Valamiért biztosan megvolt rá az okod, de már rég nem szolgálnak
                    téged. Jön a következő mozdulat, beleengeded magad, mélyeket lélegzel, nagyon jól esik. El kezded
                    elfogadni, szeretni magad. A gyakorlás végére boldogságot, békét, nyugalmat érzel, teljesen
                    feltöltődsz. Talán azért, mert sikerült egy új ászana? Vagy azért, mert valamit feloldottál? Mindegy
                    is.. Csak figyelj tovább, maradj éber. Hamarosan észreveszed, hogy a másik személy vagy zavaró
                    esemény is kezd megváltozni.
                </p>
                <div class="divider"></div>

                <p class="light justify-text">

                    A saját gyakorlás ajándék. Ilyenkor meg van rá a lehetőséged, hogy észrevedd tested jelzéseit. Egy
                    intuitív módon összeállított gyakorlás kicserél, új utakat nyit meg, felismeréseket
                    hoz. A jógázás nem csak a jógamatracig tart, gyakorlásod kihat az egész életedre. A gyakorlás mindig
                    más és más, pont úgy, ahogy az életben sincs két egyforma reggel, ugyanazzal a hangulattal és
                    érzetekkel.
                    A mai gyakorlásomon a csavarásokra, kartámaszos gyakorlatokra fókuszálva ez az üzenet érkezett:
                    Lélegezz fel szorult helyzeketben is, tanulj meg könnyed áramlással, a LÉLEK-zeted erejével kitörni
                    a szorításból és érezd meg higgadtságod örömét.
                    Amikor érzed, hogy felgyorsul a szívverésed, tudatosítsd a légzés ritmusád, engedd, hogy
                    lelassuljon. Lélegezz mélyeket, ezáltal tested megnyugszik, az elme pedig mindig követi a légzést:
                    ahogy a légzésed mélyül, a gondolataid is lecsitulnak, kisimulnak.🙏
                </p>
                <div class="divider"></div>

                <p class="light justify-text">

                    Minden egyes mozdulatban megállsz egy pillanatra, tudatosítod a középpontodat, az ízületeid
                    helyzetét, a légzésedet. Figyeled milyen érzetek vannak a testedben, milyen érzelmek jelentkeznek.
                    Lehet, hogy az instrukciók alapján igazítasz valamit a tartásodon, aztán engeded, hogy tartson a
                    test, "dolgozzon rajtad" az ászana. Te csak belesimulsz, megéled a jelent. Majd amikor már
                    megtapasztaltad az energiáját, elengeded úgy, hogy mész tovább a következő mozdulatra, folytatod a
                    szemlélődést, a megfigyelést.
                    A jóga egy hosszú mozgó meditáció. Ilyenkor garantáltan nem gondolkodsz azon, hogy mit fogsz
                    csinálni az óra után, vagy milyen feladataid vannak még. Ezáltal rengeteg energia szabadul fel
                    benned, amivel utána sokkal hatékonyabban oldod majd meg a feladataidat. Szerinem megéri. ;) :)
                </p>
                <div class="divider"></div>
                <p class="light justify-text">
                    A harmónia egyensúly állapot. Nem lehetsz mindig öröm mámorban, egy idő után nem értékelnéd és talán
                    be is csavarodnál😉 Az egyensúlyozás olyan, mint a légtánc: hol erre billensz ki, hol arra, de
                    előbb-utóbb mindig megtalálod a középpontodat. Ahhoz hogy mindig visszatalálj, érdemes rendszeresen
                    megteremteni annak a lehetőségét, hogy ne érjenek el a kizökkentő hatások. Ha hagyod, hogy az elméd
                    irányítson, nagy lesz a kilengés és még a végén lezuhansz... Az elméd csendjében helyre áll a rend.
                    Szoktasd magad hozzá, adj időt és teret magadnak az elcsendesedésre. A figyelem, melyet magadra
                    fordítasz, többszörösen megtérül. Mások is érzik rajtad, nem biztos hogy meg tudják fogalmazni, csak
                    egyszerűen jó a közeledben lenni. Hiszen nem csak a tested körvonaláig létezel.. egy tágabb
                    dimenzióban vagy jelen. Biztosan volt már veled olyan, hogy bementél egy üres szobába, és érezted
                    azok hangulatát, akik előtted jártak ott. Ugyanígy te is viszed magaddal mindenhova a
                    varázsfelhődet. Csak rajtad múlik, mit varázsolsz😉 Varázsolj harmóniát🙏❤
                </p>
                <div class="divider"></div>

                <p class="light justify-text">

                    Egy szemlélő vagy a testben, egy megfigyelő. Szemléld, ahogyan lélegzel, ahogy a mozdulat létrejön.
                    Szemléld ahogyan a gondolatok áramolnak. Figyeld meg a belső folyamatokat. Milyen hatással vannak
                    rád a gondolataid? Milyen hatással van rád, amikor észreveszed, hogy megfigyelőként vagy jelen?
                    Tudatosítsd ezt az érzést. Legyél a tanú amilyen gyakran csak lehet.
                </p>
                <div class="divider"></div>

                <p class="light justify-text">
                    Csak az első lépést tedd meg. Lehetsz bizonytalan, lehet, hogy még visszahúznak a régi, kényelmes
                    szokások, mégis tegyél egy lépést. Kezdd el ma. Lépj rá az útra, ahol sok meglepetés és újdonság
                    vár, ahol megismerkedhetsz életed legnagyobb tanítójával. Nincs más dolgod, csak indulj el. Dobj be
                    a táskádba egy kényelmes ruhát, és gyere el jógaórára. Egyből érezni fogod: hazaértél. A többi lépés
                    már jön magától. Egyik felismerésből jön a másik, és egyszer csak azt veszed észre, hogy minden nap
                    érzed a hívást a jógaszőnyegedre. Már mindegy lesz hol jógázol, csak találkozhass önmagad békés,
                    nyugodt, boldog verziójával. A lehetőségek tárháza kimeríthetetlen. Ha megtaláltad az utat, sorra
                    jönnek majd veled szembe a különböző programok, találkozások, amik támogatnak, tovább visznek,
                    segítenek téged. Csak indulj el...

                </p>
                <div class="divider"></div>

                <p class="light justify-text">
                    A változás természetes. Az élet mindig halad valamerre, folyamatos áramlásban, mozgásban vagy.
                    Változik az időjárás, a környezeted, a hangulatod, átalakul a tested, megváloznak a szokásaid,
                    különbözőek a gondolataid, érzelmeid, még a sejtjeid is kicserélődnek. Ebben a folytonos változásban
                    jó ha van valami, ami állandó: a gyakorlás.
                </p>
                <div class="divider"></div>
                <p class="light justify-text">

                    A fizikai test egy eszköz. Egy lehetőség, hogy tapasztalj, hogy érezz, hogy élj. Gondolj bele
                    mennyire hálás lehetsz érte, hogy az érzékszerveiddel megérezheted az élet ízét, sokszínűségét,
                    hangját és illatát, a mozgásszerveiddel pedig eljuthatsz egyik pontból a másikba. Kaptál egy testet,
                    amit korlátozott ideig használhatsz. Ez egy ajándék, amire ha vigyázol, hosszú ideig lehet örömteli
                    életed. Gyermekkorban a test leginkább építkezik, majd egyensúlyba kerülnek az építő és lebontó
                    sejtek száma. 30 életév körül pedig a lebontó folyamatok lesznek többségben. Ezek tények, de van jó
                    hírem is: a folyamatot lelassíthatod, vagy akár meg is állíthatod😉Tudatosítsd, hogy a tested egy
                    ajándék, légy hálás érte. Tegyél meg mindent, amit tudsz: mozogj, meditálj, táplálkozz tudatosan, de
                    leginkább SZERESD és törődj vele minden nap.


                </p>
            </div>
        </div>
    </div>
</div>