<div class="container">
  <div class="section">
    {{!-- ÚJ TARTALOM - FLOW JÓGA OKTATÓI TOVÁBBKÉPZÉS --}}
    <div class="row">
      <h1 class="light center-text" style="font-size: 2.5rem;">Flow Jóga oktatói továbbképzés</h1>
      <p class="center-text" style="font-size: 1.3rem;"><b>100 órás, akkreditált képzés</b></p>
      <p class="center-text light">A sikeres vizsgát tett tanulók Regisztrált Felnőtt Képzési tanusítványt vehetnek át.</p>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <h5 class="light">KIKNEK SZÓL:</h5>
        <p class="light justify-text">
          Ez a 100 órás Flow Jóga Oktatói Továbbképzés azoknak szól, akik már elvégeztek legalább egy alapképzést (vagy akár többet is), és most szeretnének új lendületet kapni az oktatásban, inspirációban, kreativitásban és önismeretben.
        </p>
        <p class="light justify-text">
          Akkor is jelentkezhetsz, ha nincs még előképzettséged, ha önismeret, személyes fejlődés miatt csatlakoznál. Ebben az esetben nem szükséges vizsgáznod és egy emléklapot tudunk neked kiállítani a képzés elvégzéséről.
        </p>

        <h5 class="light">MIRŐL FOGSZ TANULNI:</h5>
        <p class="light justify-text">
          A képzés során mélyítjük a flow jóga ismereteit, mozgásos és energetikai szinten egyaránt, miközben a gyakorlati tanításra helyezzük a hangsúlyt.
        </p>
        <p class="light justify-text">
          Ez nem csak egy képzés, hanem egy közösség, ahol egymást emelve fejlődhetünk.
        </p>

        <h5 class="light">DÁTUMOK:</h5>
        <p class="light">
          4 hétvége (9.00-17.00)
        </p>
        <ul style="list-style-type: disc; padding-left: 20px;">
          <li class="light">2026.04.11-12.</li>
          <li class="light">2026.04.25-26.</li>
          <li class="light">2026.05.09-10.</li>
          <li class="light">2026.05.23-24.</li>
        </ul>
        <p class="light">+20 óralátogatás</p>

        <h5 class="light">A KÉPZÉS DÍJA:</h5>
        <p class="light">
          A képzés díja: <b>240.000 Ft</b><br>
          (Részletfizetés esetén: jelentkezési díj + fennmaradó összeg 2 részletben)
        </p>

        <h5 class="light">A KÉPZÉS OKTATÓI:</h5>
        <p class="light justify-text">
          <b>Czvikli Zsuzsanna</b> - Gerincjóga, Hatha jóga és Jóga flow oktató, Fasciális jógaterapeuta, Jóga mozgásterapeuta, Astanga jóga oktató
        </p>
        <p class="light justify-text">
          <b>Stefán Nikolett</b> - Hatha jóga (RYT500), Gerincjóga, Fasciális alapú flow jóga oktató, Hangtálfürdővezető, a Samadhi vezetője
        </p>

        <p>
          <b>Részletes leírás és jelentkezés:</b> <a target="_blank" href="https://samadhijoga.hu/portfolio/flow-joga-oktatoi-tovabbkepzes-budapest/">https://samadhijoga.hu/portfolio/flow-joga-oktatoi-tovabbkepzes-budapest/</a>
        </p>
      </div>
      <div class="col s12 m6">
        <p>
          <img class="responsive-img img-border" style="margin-top: 5px;" src="img/kepzes_2026.webp">
        </p>
      </div>
    </div>

    {{!-- RÉGI TARTALOM - FASCIA A JÓGÁBAN --}}
    <div class="row">
      <h5 class="light">Fascia a jógában akkreditált oktatói továbbképzés</h5>
      <p class="light">6 ALKALMAS AKKREDITÁLT FASCIÁLIS ANATÓMIÁN ALAPULÓ OKTATÓI TOVÁBBKÉPZÉS JÓGAOKTATÓKNAK,
        EDZŐKNEK, MASSZŐRÖKNEK</p>
      <p class="light">Tarts velünk egy különleges tanfolyamon, ahol a fascia és a fasciális láncolatok mélyreható
        titkaiba nyerhetsz betekintést. A képzés célja, hogy elmélyítsd tudásodat az emberi test működéséről és arról,
        hogyan integrálhatod a kötőszöveti rendszerünket érintő ismereteket a jógaoktatásba és más mozgásformákba.
      </p>
      <p class="light">Fedezd fel az emberi test lenyűgöző világát!</p>
      <p class="light">100 órás, hivatalos felnőttképzés. A képzést sikeresen elvégzett tanulók Regisztrált Felnőtt
        Képzési tanúsítványt vehetnek át!</p>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <h6 class="justify-text">
          A KÉPZÉS IDŐPONTJAI (3 hétvége 9.00-17.00)
        </h6>
        <ul style="list-style-type: disc; padding-left: 20px;">
          <li class="light">2026. október 10-11.</li>
          <li class="light">2026. október 24-25.</li>
          <li class="light">2026. november 7-8.</li>
        </ul>
        <h6 class="justify-text">
          KINEK AJÁNLJUK A KÉPZÉST?
        </h6>
        <p class="light justify-text">
          A program ideális jógaoktatóknak, edzőknek és gyakorlóknak, akik mélyebbre kívánnak ásni tudásukban, és új
          dimenziókat szeretnének felfedezni a jógában.
        </p>
      </div>
      <div class="col s12 m6">
        <p>
          <img class="responsive-img img-border" style="margin-top: 5px;" src="img/2025kepzes.webp">
        </p>
      </div>
    </div>

    <div class="row">
      <h5 class="light">AMIT A KÉPZÉS SORÁN TANULHATSZ:</h5>
      <h6>Fascia elméleti alapok: Ismerd meg a kötőszöveti rendszer kulcsszerepét és jelentőségét.</h6>
      <h6>Fasciális láncolatok: Fedezd fel testünk különböző részeinek összekapcsolódását.</h6>
      <h6>Gyakorlati foglalkozások: Sajátíts el egyszerű technikákat és jógagyakorlatokat a fascia ápolására.</h6>
      <h6>Új mozgásélmények: Lépj be a fasciális szemlélet által nyújtott új perspektívák világába.</h6>
      <h6>Testolvasás alapok: Tanulj meg alapvető testolvasási technikákat, hogy jobban megértsd és észleld a test
        mozgását és tartását.</h6>
      <h5 class="light">MIÉRT ÉRDEMES RÉSZT VENNI A KÉPZÉSEN?</h5>
      <p class="light justify-text">Használd a tanfolyamon tanultakat nemcsak a jógában, hanem más mozgásformák során is.</p>
      <p class="light justify-text">Bővítsd meglévő anatómiai ismereteidet az emberi test mélyebb megértésére.</p>
      <p class="light justify-text">Ismerd meg, hogyan kapcsolódnak össze a test fizikai oldódási folyamatai a lelki gyógyulással.</p>
      <p class="light justify-text">Alkalmazd a tanultakat mind egyéni, mind csoportos foglalkozásokon, hogy szélesebb körben segíthess másoknak.</p>
    </div>

    <div class="row">
      <h5 class="light">Szervező</h5>
      <p class="light justify-text">
        <a target="_blank" href="https://www.samadhijoga.hu/">Samadhi jógastúdió</a> 1133 Budapest, Dráva utca 17.
      </p>
      <p>
        <img class="responsive-img img-border" style="margin-top: 5px;" src="img/samadhistudio.jpg">
      </p>
    </div>

    <div class="row">
      <h5 class="light">A KÉPZÉS DÍJA</h5>
      <ul>
        <li class="light">A képzés díja: 180.000 Ft</li>
        <li class="light">Jelentkezési díj: 60.000 Ft (átutalással fizetendő)</li>
      </ul>
      <p class="light justify-text">
        Az oktatóképzés is fizethető <a target="_blank" href="https://www.samadhijoga.hu/">jógastúdiónkban</a> SZÉP kártyával!
      </p>
      <p>
        Jelentkezés: <a target="_blank" href="https://www.samadhijoga.hu/fascia-a-jogaban-tovabbkepzes">Fascia a jógában Oktatóképzés</a>
      </p>
    </div>

    <div class="row">
      <h5 class="light">A képzést vezeti</h5>
      <p class="light justify-text">
        <a href="https://www.facebook.com/czvikliizs"><b>Czvikli Zsuzsanna</b></a>
        (Gerincjóga, Hatha jóga és Jóga flow oktató, Fasciális jógaterapeuta, Jóga mozgásterapeuta, Astanga jógaoktató)
      </p>
      <p class="light justify-text">
        Amennyiben egyedi kérdésed lenne a képzéssel kapcsolatban, írj nekünk!
        Jelentkezés és további információ: info@samadhijoga.hu
      </p>
    </div>
  </div>
</div>