<div class="container">
  <div class="section">
    <div class="row">

      <div class="row">
        <h5 class="light">Fascia a jógában akkreditált oktatói továbbképzés</h5>
        <p class="light">6 ALKALMAS AKKREDITÁLT FASCIÁLIS ANATÓMIÁN ALAPULÓ OKTATÓI TOVÁBBKÉPZÉS JÓGAOKTATÓKNAK,
          EDZŐKNEK, MASSZŐRÖKNEK</p>
        <p class="light">Tarts velünk egy különleges tanfolyamon, ahol a fascia és a fasciális láncolatok mélyreható
          titkaiba nyerhetsz betekintést. A képzés célja, hogy elmélyítsd tudásodat az emberi test működéséről és arról,
          hogyan integrálhatod a kötőszöveti rendszerünket érintő ismereteket a jógaoktatásba és más mozgásformákba.
        </p>
        <p class="light">Fedezd fel az emberi test lenyűgöző világát!</p>
        <p class="light">100 órás, hivatalos felnőttképzés. A képzést sikeresen elvégzett tanulók Regisztrált Felnőtt
          Képzési tanúsítványt vehetnek át!</p>
      </div>



      <div class="row">
        <div class="col s12 m6">
          <h6 class="justify-text">
            A KÉPZÉS IDŐPONTJAI (3 hétvége 9.00-17.00)
          </h6>
          <ul style="list-style-type: disc; padding-left: 20px;">
            <li class="light">2025. szeptember 27-28.</li>
            <li class="light">2025. október 4-5.</li>
            <li class="light">2025. október 18-19.</li>
          </ul>
          <h6 class="justify-text">
            KINEK AJÁNLJUK A KÉPZÉST?
          </h6>
          <p class="light justify-text">
            A program ideális jógaoktatóknak, edzőknek és gyakorlóknak, akik mélyebbre kívánnak ásni tudásukban, és új
            dimenziókat szeretnének felfedezni a jógában.
          </p>

        </div>
        <div class="col s12 m6">
          <p>
            <img class="  responsive-img img-border" style="margin-top: 5px;" src="img/2025kepzes.webp">
          </p>

        </div>
      </div>
      <div class="row">
        <h5 class="light">AMIT A KÉPZÉS SORÁN TANULHATSZ:</h5>
        <h6>Fascia elméleti alapok: Ismerd meg a kötőszöveti rendszer kulcsszerepét és jelentőségét.</h6>
        <h6>Fasciális láncolatok: Fedezd fel testünk különböző részeinek összekapcsolódását.</h6>
        <h6>Gyakorlati foglalkozások: Sajátíts el egyszerű technikákat és jógagyakorlatokat a fascia ápolására.</h6>
        <h6>Új mozgásélmények: Lépj be a fasciális szemlélet által nyújtott új perspektívák világába.</h6>
        <h6>Testolvasás alapok: Tanulj meg alapvető testolvasási technikákat, hogy jobban megértsd és észleld a test
          mozgását és tartását.</h6>
        <h5 class="light">MIÉRT ÉRDEMES RÉSZT VENNI A KÉPZÉSEN?</h5>
        <p class="light justify-text">Használd a tanfolyamon tanultakat nemcsak a jógában, hanem más mozgásformák során is.</p>
        <p class="light justify-text">Bővítsd meglévő anatómiai ismereteidet az emberi test mélyebb megértésére.</p>
        <p class="light justify-text">Ismerd meg, hogyan kapcsolódnak össze a test fizikai oldódási folyamatai a lelki gyógyulással.</p>
        <p class="light justify-text">Alkalmazd a tanultakat mind egyéni, mind csoportos foglalkozásokon, hogy szélesebb körben segíthess másoknak.</p>
      </div>

      <div class="row">

        <h5 class="light">Szervező</h5>

        <p class="light justify-text">
          <a target="_blank" href="https://www.samadhijoga.hu/">Samadhi jógastúdió</a> 1133 Budapest, Dráva utca 17.
        </p>
        <p>
          <img class="  responsive-img img-border" style="margin-top: 5px;" src="img/samadhistudio.jpg">
        </p>

      </div>

      <div class="row">



 

        {{!-- <h5 class="light">Online részvételi lehetőség</h5>
        <p class="light justify-text">
          A képzés online is elvégezhető! </br>
          A teljes videóanyagot kiemelkedő minőségben érheted el:</br>
          HD videók stúdióminőségű hanggal!</br>
        </p> --}}

        <h5 class="light">A KÉPZÉS DÍJA</h5>
        <ul>
          <li class="light">
            A képzés díja: 180.000 Ft
          </li>
          <li class="light">
            Jelentkezési díj: 60.000 Ft (átutalással fizetendő)
          </li>
        </ul>
        <p class="light justify-text">
          Az oktatóképzés is fizethető <a target="_blank"
            href="https://www.samadhijoga.hu/">jógastúdiónkban</a> SZÉP
          kártyával!
          {{!-- <br />
          +25 óra óralátogatás --}}
        </p>
        <p>
          Jelentkezés: <a target="_blank" href="https://www.samadhijoga.hu/fascia-a-jogaban-tovabbkepzes">Fascia a jógában
            Oktatóképzés</a>
        </p>
      </div>

      <div class="row">
        <h5 class="light">A képzést vezeti</h5>

        <div class="row ">
          {{!-- <img class="col s5 m2 responsive-img img-border" style="margin-top: 5px;" src="img/CZsuzsi-300px.jpg" />
          --}}

          <p class=" light justify-text">
            <a href="https://www.facebook.com/czvikliizs"><b>Czvikli Zsuzsanna</b></a>
            (Gerincjóga, Hatha jóga és Jóga flow oktató, Fasciális jógaterapeuta, Jóga
            mozgásterapeuta, Astanga jógaoktató)
          </p>
        </div>

        <p class="light justify-text">
          Amennyiben egyedi kérdésed lenne a képzéssel kapcsolatban, írj nekünk!
          Jelentkezés és további információ: info@samadhijoga.hu
        </p>

      {{!-- </div>
      <div class="row">
        <p class="center-text">
          <a class="cta-1" href="#jelentkezes">Jelentkezem a képzésre</a>
        </p>
      </div> --}}

{{!-- 
      <div class="row center-text embedded-videos">
        <div class=" " style="margin-top: 5px;">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/2B3XD19Qp7s?controls=0"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>

        <div class=" " style="margin-top: 5px;">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/JATXcKw-NVE?controls=0"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div> --}}
    </div>
  </div>