<div class="container">
  <div class="section">
    <div class="row">

      <div class="row">
        <h5 class="light">Jóga Flow Oktatóképzés</h5>
        <p class="light">Személyesen és online is végezhető <b>akkreditált felnőttoktatási képzés</b>. </p>
      </div>

      <div class="row">
        <h6 class="">Mit kell tudnod a jógaoktató képzésről?</h4>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <p class="light justify-text">
            A Hatha jóga és az Astanga rendszer alapjaira épül, melyből kiindulva megtanulhatod, hogyan építs fel úgy
            egy órát, hogy létrejöjjön a flow élmény, az áramlás.
          </p>
          <p>
            Fasciális megközelítéssel dolgozunk…
          </p>
          <p class="light justify-text">
            Ez a képzés egyik különlegessége. A modern fasciális szemlélet folyamatosan bővülő ismeret halmaza
            alapjaiban megváltoztatta a test működéséről alkotott képünket. Mozgás során az agyunk sokkal inkább
            útvonalakban, mintsem izolált izmokban gondolkozik. A fascia tulajdonságainak és lefutásának ismeretében egy

          </p>
          <p class="center-text">
            új nézőpontot kapsz a jóga gyakorlásodhoz és oktatásához.
          </p>

          <ul>
            <li class="light">
              A fasciális alapú mozgásos technikák megoldást jelenthetnek egyéni problémák kezelésére,
              testtartásjavításra, ugyanakkor csoportos órán is alkalmazhatod ismereteidet.
            </li>
            <li class="light">
              Dolgozunk az energetikai zárakkal (bandhák), a légzéssel, a figyelem vezetésével és nem utolsó sorban az
              intuícióval, de már a fasciális technikákkal gazdagítva, még hatékonyabbá téve a gyakorlást. </li>
            <li class="light">
              A tananyag tapasztalás általi megismerésen alapszik. Kapsz egy stabil eszköztárat, amellyel biztonságos
              keretet adhatsz az óráidnak és melyre saját ötleteid alapján a jelen pillanatában építheted fel azt az
              egyedi flow élményt, amit csak te hozhatsz létre. </li>
          </ul>
        </div>
        <div class="col s12 m6">
          <p>
            <img class="  responsive-img img-border" style="margin-top: 5px;" src="img/képzés_7_chakras.webp">
          </p>

      <div class="row">
        <p class="center-text">
          <a class="cta-1 " href="#jelentkezes">Jelentkezem a képzésre</a>
        </p>
      </div>

      <div class="row">
        <h5 class="light">Mit kapsz ettől a képzéstől?</h5>
        <h6>Gyakorlati tudást szerzel</h6>
        <p class="light justify-text">
          Mindamellett, hogy megtanulhatod, hogy hogyan vezesd az óráidat és hogyan instruáld hatékonyan a gyakorlóidat,
          belátást kapsz az anatómiai ismeretekbe, a fasciális szemléletű, testre szabott gyakorlatsorok
          összeállításába. Elsajátíthatod a testolvasás alapjait, mélyebben megismerkedsz az energetikai zárakkal
          (bandhákkal), energiaközpontokkal (csakrákkal), pránajámákkal és a kiegyensúlyozó kéztartásokkal (mudrákkal).
        </p>
        <h6>
          Megtanulod a jógaeszközök széleskörű használatát
        </h6>
        <p class="light justify-text">
          Megismerkedsz a hangtálakkal, megtanulod őket használni. Elsajátíthatod a jógatégla, heveder, SMR henger,
          jógapárna helyes használatát.
        </p>

        <h6>
          Megismerkedsz a legnépszerűbb flowjóga óratípusokkal
        </h6>
        <p class="light justify-text">
          Megtanulhatod, hogyan állíts össze változatos flowjóga órákat. Megtapasztalod a mozgó meditációt, képes leszel
          saját intuícióból bármilyen órádon újabb és újabb összeköttetéseket kreálni.
        </p>

        <h6>
          Összhangba kerülsz saját magaddal és másokkal
        </h6>
        <p class="light justify-text">
          Az áramlás eredményeképpen sokkal megengedőbbé válsz magaddal és a világgal szemben, erősödik az intuíciód, a
          kreativitásod. A képzés alatt harmonikusabb, magabiztosabb leszel. Ezeken felül tanulhatsz az életvitelről,
          életrendről. Egy olyan tanfolyamon vehetsz részt, ahol mindenki segíti a másikat.
        </p>
      </div>

      <div class="row">

        <h5 class="light">Szervező</h5>

        <p class="light justify-text">
          <a target="_blank" href="https://www.samadhijoga.hu/">Samadhi jógastúdió</a> 1133 Budapest, Dráva utca 17.
        </p>
        <p>
          <img class="  responsive-img img-border" style="margin-top: 5px;" src="img/samadhistudio.jpg">
        </p>

      </div>

      <div class="row">

        <h5 class="light">Az induló képzés időpontjai:</h5>
        <p class="light justify-text">
          A jógaoktató képzés 7 hétvégi alkalomból (9.00-17.00), 25 szabadon választott óralátogatásból és egy vizsga
          napból tevődik
          össze a következő időpontok szerint:
        </p>
        <ul>
          <li class="light">
            2025. március 29.30.
          </li>
          <li class="light">
            2025. április 12-13., 26-27.
          </li>
          <li class="light">
            2025. május 10-11., 24-25.
          </li>
          <li class="light">
            2025. május 31. június 1.
          </li>
          <li class="light">
            2025. június 7.
          </li>
          <li class="light">
            Vizsganap: június 16.{{!-- , ill. egyéni egyeztetés alapján --}}
          </li>

        </ul>
        <p class="light">+25 óra látogatás (online is lehetséges)</p>

        <h5 class="light">Online részvételi lehetőség</h5>
        <p class="light justify-text">
          A képzés online is elvégezhető! </br>
          A teljes videóanyagot kiemelkedő minőségben érheted el:</br>
          HD videók stúdióminőségű hanggal!</br>
        </p>

        <h5 class="light">A képzés díja</h5>
        <ul>
          <li class="light">
            Személyes részvétel: 360.000 Ft ( a jelentkezéskor 60.000 Ft + A képzés első napján 300.000 Ft)
          </li>
          <li class="light">
            Online formában: 190.000 Ft ( a jelentkezéskor 20.000 Ft + Az első hétvége anyagának elküldéséig 170.000 Ft)
          </li>
        </ul>
        <p class="light justify-text">
          Az élő és az online oktatóképzés is fizethető <a target="_blank"
            href="https://www.samadhijoga.hu/">jógastúdiónkban</a> SZÉP
          kártyával!
          <br />
          +25 óra óralátogatás
        </p>
        <p>
          Facebook esemény: <a target="_blank" href="https://www.facebook.com/events/816519156402756">Jóga Flow
            Oktatóképzés</a>
        </p>
      </div>

      <div class="row">
        <h5 class="light">A képzést vezeti</h5>

        <div class="row ">
          {{!-- <img class="col s5 m2 responsive-img img-border" style="margin-top: 5px;" src="img/CZsuzsi-300px.jpg" />
          --}}

          <p class=" light justify-text">
            <a href="https://www.facebook.com/czvikliizs"><b>Czvikli Zsuzsanna</b></a>
            (Gerincjóga, Hatha jóga és Jóga flow oktató, Fasciális jógaterapeuta, Jóga
            mozgásterapeuta, Astanga jógaoktató)
          </p>

          <p class=" light justify-text">
            <a href="https://www.innerperspective.me/"><b>Erdélyi Adrienn</b></a>
            (Hatha jóga, Jóga Flow, Vinyasa flow oktató, Kismama jógaoktató)
          </p>

          <p class=" light justify-text">
            <a
              href="https://linktr.ee/nikolettstefan?fbclid=IwAR27hKDxEf-_2RRa-FH4OED14afo03xmDwRZ--FK3o8dvS_YXJOTHGBtJd0"><b>Stefán
                Nikolett</b></a>
            (Gerincjóga, Hatha jóga és Jóga flow oktató)
          </p>

        </div>

        <p class="light justify-text">
          Amennyiben egyedi kérdésed lenne a képzéssel kapcsolatban, írj nekünk!
          Jelentkezés és további információ: info@samadhijoga.hu
        </p>
      <div class="row center-text embedded-videos">
        <div class=" " style="margin-top: 5px;">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/2B3XD19Qp7s?controls=0"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>

        <div class=" " style="margin-top: 5px;">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/JATXcKw-NVE?controls=0"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>