<div class="container">
    <div class="section">
        <div class="row">
            <h4 class="light">Fasciális arcterápia</h4>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <p class="light justify-text">
                    Tudtad, hogy a feszült állkapocs mögött gyakran ki nem mondott szavak állnak?
                </p>
                <p class="light justify-text">
                    Az arcod nem csak az, amit a tükörben látsz. Ott van benne minden feszültség, amit nem mondtál ki, minden visszatartott szó, minden összehúzó pillanat - és igen, idővel ez látszani kezd. A fasciális arcterápia viszont nem csak a ráncokról szól, a fiatalodás inkább egy szép mellékhatása.
                </p>
                <p class="light justify-text">
                    Ez a kezelés az egész kötőszöveti rendszeredre hat, finoman kapcsolódik a testedhez, a szerveidhez, az idegrendszeredhez. Ahogy oldódik a feszültség az arcban, az állkapocsban, a nyak mélyebb rétegeiben, ez szépen továbbáramlik az egész testedben is. Az idegrendszer lelassul, a légzés mélyül, a tekintet kinyílik és könnyedebbnek érzed magad.
                </p>
                <p class="light justify-text">
                    Ez nem varázslat, hanem technika.
                </p>
                <p class="light justify-text">
                    Egy alkalom 60 perc, 18 000 Ft.
                </p>
                <p class="light justify-text">
                    Helyszín: Budapest, XIII. ker., VI. ker., Csömör
                </p>
            </div>
            <div class="col s12 m6">
                <p>
                    <img class="responsive-img img-border" style="margin-top: 5px;" src="img/manual11.webp">
                </p>
            </div>
        </div>

        <hr>

        <div class="row">
            <h4 class="light">Fasciális jógaterápia, integrált manuális terápia</h4>
        </div>

        <div class="row">
            <div class="col s12">

                <p class="light justify-text">
                    A fascia kezelése különleges, szokatlan élmény, de az eredmény annál kézzelfoghatóbb. A kezelés alatt és után felszabadulást, megkönnyebbülést érezhetsz: könnyebb lesz mozogni, ülni, állni, tartani magad. Az idegrendszer ugyan pár nap alatt megszokja az új állapotot, a mozgásmintád viszont tartósan megváltozik.
                </p>
                <p class="light justify-text">
                    A fizikai testen végzett munka mélyebbre hat, mint gondolnád: a jógázáshoz hasonlóan lelki blokkok is oldódhatnak egy-egy komolyabb letapadás felszabadításakor, vagy ahogy a testtartásod fokozatosan megváltozik.
                </p>
            </div>
        </div>
        <div class="row">
            <h5 class="light">Fasciális jógaterápia</h5>
        </div>

        <div class="row">
            <div class="col s12">

                <p class="light justify-text">
                    A fascia a test háromdimenziós kötőszöveti hálózata: mindent mindennel összeköt, meghatározza a formánkat és a testtartásunkat. A napi rutinok, az egyenlőtlen terhelés, a stressz, a sérülések és a sok ülés feszültséget halmoz fel ebben a rendszerben, a test pedig elkezd kompenzálni.
                </p>
                <p class="light justify-text">
                    Egy idő után ehhez a kompenzált állapothoz alkalmazkodik: az izmok és kötőszövetek rövidülnek, fájdalom vagy feszültség jelentkezik sokszor egészen távoli testtájakon.
                </p>
                <p class="light justify-text">
                    Mire számíthatsz egy kezelésen?
                </p>
                <p class="light justify-text">
                    Az első lépés a testolvasás: felmérjük, hol vannak billenések, csavarodások, dőlések a testedben. Ezután fasciális láncolatonként haladva felszabadítom az összetapadt szöveteket ezáltal nő a mozgástartomány, javul a vérkeringés, az ízületek kedvezőbb helyzetbe kerülnek.
                </p>
                <p class="light justify-text">
                    A kezelés végén a tested egyensúlyba kerül: jobb a tartásod, könnyebb és energikusabb a mozgásod, javul a közérzeted.
                </p>
                <p class="light justify-text">
                    Minden kezelést személyre szabott jógagyakorlatokkal egészítek ki, amelyek segítik az új mozgásminták rögzülését és az egyensúly stabilizálását.
                </p>
                <ul style="padding-left: 40px; list-style-type: disc !important; margin: 16px 0;" class="browser-default light justify-text">
                    <li style="list-style-type: disc;">Szükséges alkalmak: 5–6 kezelés</li>
                    <li style="list-style-type: disc;">Időtartam: 1 óra / alkalom</li>
                    <li style="list-style-type: disc;">Viselet: fürdőruha vagy rövidnadrág</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h5 class="light">Integrált manuális kötőszöveti gerinc terápia</h5>
        </div>
        <div class="row">
            <div class="col s12">

                <p class="light justify-text">
                    Jóga-oktatói tapasztalataim alapján a mozgásban legtöbbször a légzés az első akadály: a bordakosár nem mozdul megfelelően, vagy egyes irányokban egyáltalán nem. A gerinc sokszor rugalmatlan, a csigolyák nem mozdulnak önállóan.
                </p>
                <p class="light justify-text">
                    A gerinc diszfunkciói az idegrendszeren keresztül a belső szervekre is hatással vannak, egy kedvezőtlen helyzetű csigolya hosszú távon szervi problémákhoz is vezethet. A gerinc rendszeres mobilizálásával nemcsak a mozgásszervrendszert támogatjuk, hanem komolyabb problémák kialakulását is megelőzhetjük.
                </p>
                <p class="light justify-text">
                    Az integrált manuális terápia a kötőszövetek kezelésén keresztül aktiválja a test saját regenerációs folyamatait. Integrálja a különböző ízületek mozgását a test egészébe, segít visszaállítani a szimmetriát, csillapítja a fájdalmat, és támogatja a test energiahatékony működését.
                </p>
                <p class="light justify-text">
                    Ha régóta fennálló fájdalommal vagy kellemetlen érzéssel küzdesz valamelyik testtájékon, ez a terápia megoldást kínálhat.
                </p>
                <ul style="padding-left: 40px; list-style-type: disc !important; margin: 16px 0;" class="browser-default light justify-text">
                    <li style="list-style-type: disc;">Szükséges alkalmak: általában 3 kezelés, heti rendszerességgel</li>
                </ul>

            </div>
        </div>
    </div>
</div>