<div class="container">
    <div class="section">
        <div class="row">
            <h4 class="light">Fasciális jógaterápia, integrált manuális terápia</h4>
        </div>



        <div class="row">
            <div class="col s12">

                <p class="light justify-text">

                    A fascia kezelése nagyon különleges, szokatlan élmény. Egy kezelés alatt és után általában
                    felszabadulást, megkönnyebbülést érezhetsz, könnyebb mozogni, jól tartani magad, ülni és állni. Az
                    idegrendszer hamar megszokja az új felállást, ezért pár nap múlva már nem érzékeled a változást, a
                    mozgásmintád viszont tartósan megváltozik. A fizikai testet kezeljük, ugyanakkor - a jógázáshoz
                    hasonlóan - lelki blokkok oldódása is megtörténik egy-egy komolyabb letapadás felszabadítása,
                    illetve a testtartásod megváltoztatása által.
                </p>
            </div>
        </div>
        <div class="row">
            <h5 class="light">Fasciális jógaterápia</h5>
        </div>

        <div class="row">
            <div class="col s12">

                <p class="light justify-text">
                    A testben található 3D-s kötőszöveti rendszer, a fascia mindent mindennel összeköt, egy holisztikus
                    egységet hoz létre a testben, meghatározza formánkat, testtartásunkat. A napi szinten ismétlődő
                    tevékenységek, egyenlőtlen terhelések, stressz, vagy sérülés, a túl sok ülés feszültséget hoz létre
                    a kötőszöveti rendszerben, ezáltal a test kibillen egyensúlyi állapotából. Annak érdekében, hogy
                    kevesebb energiabefektetéssel tudjon működni, folyamatosan kompenzál. Ehhez a kompenzált állapothoz
                    egy idő után hozzászokik, alkalmazkodik, így az izmok, kötőszövetek rövidülnek, fájdalom, feszültség
                    jelenhet meg a test valamelyik távolabbi pontján. Manuális terápiával lehetőségünk van oldalni
                    ezeket a feszültségeket, a kezelések célja a test egyensúlybomlásának helyreállítása, testtartás
                    javítása, harmónikus mozgás kialakítása.

                    Mire számíthatsz egy kezelésen? Először testolvasással felmérem, hogy neked mire van szükséged, a
                    tested melyik részén vannak billenések, csavarodások, dőlések, vagy ezek kombinációja. Majd
                    fasciális láncolatonként haladva ahol szükséges felszabadítom az összetapadt szöveteket, ezáltal
                    nagyobb lesz a mozgástartomány, javul a vérkeringés, az ízületek kedvezőbb helyzetbe kerülnek. A
                    megrövidült izmok, kötőszövetek nyújtási ingert kapnak, ezáltal a test egyensúlyba kerül. Javul a
                    tartásod, a közérzeted, mozgásod könnyedebb, energikusabb lesz. A kezeléseket személyre szabott
                    jógagyakorlatokkal egészítem ki, melyek segítik az új mozgásminták kialakítását, az egyensúly
                    stabilizálását.

                    Egy alapkezeléshez 5-6 alkalom szükséges, időtartama 1 óra. A kezelés fürdőruhában, vagy
                    rövidnadrágban történik.
                </p>
            </div>
        </div>
        <div class="row">
            <h5 class="light">Integrált manuális kötőszöveti gerinc terápia</h5>
        </div>
        <div class="row">
            <div class="col s12">

                <p class="light justify-text">
                    Jóga oktatóként az a tapasztalatom, hogy legtöbbször a gyakorló légzése gátolt, a bordakosár nem
                    mozdul megfelelően, vagy bizonyos irányba egyáltalán nem. A gerinc sokszor rugalmatlan, a csigolyák
                    nem képesek külön-külön mozdulni. A gerinc diszfunkciói az idegrendszeren keresztül hatnak a
                    viszceláris rendszerre is, egy-egy kedvezőtlen helyzetben levő csigolya akár szervi problémákhoz is
                    vezethet. A gerinc mobilizálásával, karbantartásával így nem csak a mozgásszervrendszert támogatjuk,
                    akár komolyabb szervi és egyéb probléma kialakulása is megelőzhető.
                    <br/>
                    Az integrált manuális terápia segíti a test regenerációs folyamatait aktíválni a kötőszövetek
                    kezelésén keresztül. Tartalmazza a mozgásrendszer kezelését. Integrálja a különböző ízületek
                    mozgását a test egészébe, segíti visszatérni szimmetrikus helyzetébe, fájdalmat csillapít és segíti
                    a test energia hatékony működését.

                    Ha régóta fennálló fájdalom, kellemetlenség érzet van valamelyik testtájékon, megoldás lehet rá a
                    fasciális jógaterápia, vagy választhatod az integrált manuális terápiát. Általában 3 alkalom
                    szükséges, heti gyakorisággal. A konzultáció ingyenes.

                </p>


            </div>
        </div>
    </div>
</div>