<div class="container">

  <div class="section">
    <div class="row">
      <h5 class="light">Aktuálisan elérhető online órák</h5>
    </div>

    <div class="row">
      <div class="col s12 m6">

        <p class="light justify-text">
          60 perces, változatos flowjóga órák online a ti kéréseitek alapján összeválogatva. 🙂 </p>

        <p class="light justify-text">
          <b> Időpontok:</b></br>
          2023.01.23. 8.30 Fókuszban a kilégzés - évkör lezárása</br>
          2023.01.30. 8.30 Fókuszban a belégzés - új lehetőségek teremtése</br>
          2023.02.06. 8.30 Fókuszban az energetika - csakra flow</br>
          2023.02.13. 8.30 Fókuszban a szem - szemmozgások és az idegrendszer kapcsolata - mozgástartomány növelés a
          tekintet irányításával</br>
          2023.02.20. 8.30 Fókuszban a távolítók - különleges nyújtások, csípőnyitás</br>
          2023.02.27. 8.30 Fókuszban a lelassulás - meditatív slow flow
        </p>
        <p class="light justify-text">
          Az online flowjóga órákat egy erre a célra létrehozott zárt csoportban tartom:
        </p>
        <a target="_blank" href="https://www.facebook.com/groups/3370256773216330/">www.facebook.com/groups/3370256773216330/</a>
        <p class="light justify-text">
          Az órák 2023. március 15-ig visszanézhetőek!
        </p>

        <p class="light justify-text">
          Ára: <b>15 000 Ft</b> vagy <b>37 €</b></br>
          Utalási adatok:</br>
          Czvikli Zsuzsanna</br>
          OTP 11773061-08183116</br>
          <a href="https://paypal.me/czviklizs">paypal.me/czviklizs</a></br>
          Revolut: +36302037534</br>
          Wise: czviklizsuzsanna@gmail.com
          Közlemény: számlázási címed
        </p>

      </div>
      <div class="col s12 m6">
        <p>
          <img class="responsive-img img-border" style="margin-top: 5px;" width="600px" height="400px"
            src="img/online 2023-Q1.webp" />
        </p>

      </div>

    </div>
  </div>

  <div class="section">
    <div class="row">
      <h5 class="light">Óráim</h5>
    </div>

    <div class="row">
      <div class="col s12 m6">

        <p class="light justify-text">Jóga óráim leginkább flow jellegű
          jógaórák. Imádom a tematikus órákat, így sokszor jelentkezem különféle
          témákkal amiket az aktuális tanulmányaim, vagy a ti kérésetek
          ihlettek. Szeretem az óráimat úgy összeállítani, hogy lépésenként
          haladunk a könnyebb gyakorlatoktól a nehezebb ászanák felé, hogy
          mindig legyen lehetőséged visszatérni egy könnyebb verzióhoz.
          Intenzív, változatos gyakorlásokra számíthatsz, belső csend
          meditációval fűszerezve.
        </p>
        <p class="light justify-text">
          Élő óráimat a
          <b>Samadhi Jógastúdió</b>ban tartom. Cím: Budapest, XIII. Kerület,
          Dráva u. 17.
        </p>
        <p class="light justify-text">Az órákra bejelentkezés szükséges:
          <a target="_blank" href="https://www.samadhijoga.hu">
            samadhijoga.hu</a>
        </p>
      </div>

      <div class="col s12 m6">
        <p>
          <img class="responsive-img img-border" style="margin-top: 5px;" width="600px" height="400px"
            src="img/mas_p_600x400.jpg" />
        </p>

      </div>
    </div>

    <div class="row">
      <h5 class="light">Online jóga órák</h5>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <p class="light justify-text">
          Az aktuális online jógaóráimról a facebook oldalamon keresztül
          értesülhetsz. A személyes jógaórák varázsa helyett az online
          jógaóráknak is megvannak az előnyei:
        <ul class="light justify-text">
          <li>otthonról jógázhatsz bármelyik szobádban, a teraszodon, vagy
            akár a kertben is</li>
          <li>nem kell semmilyen menő jógaruha, akár pizsiben is jógázhatsz</li>
          <li>addig maradsz benne a belső csendedben, ameddig jól esik</li>
          <li>akkor jógázol, amikor számodra a legkényelmesebb</li>
          <li>úgy is tudsz velem jógázni, ha nagyon messze laksz</li>
          <li>bármelyik gyakorlatot kihagyhatod vagy módosíthatod, anélkül
            hogy ezt bárki észrevenné</li>
          <li>egyedül vagy, mégis érezheted a közösségi élményt</li>
          <li>az órákat néhány napon belül visszanézheted, újból gyakorolhatsz
            rá</li>
          <li>te döntöd el, mennyit tudsz utalni érte, ha elvesztetted a
            munkádat, akár ingyenesen is jógázhatsz velem</li>
          <li>olyan emberekkel ismerkedhetsz meg ebben a szuper közösségben,
            akikkel máshogy nem találkozhatnál</li>
        </ul>
        </p>
        <p>Online workshopokat és tematikus órákat alkalmanként tartok,
          részletek a facebook csoportomban.</p>
        <p>
          <i class="icon-facebook-official"></i>
          <a target="_blank" href="https://www.facebook.com/groups/1618733441743789">Facebook Jógázz mindennap zárt
            csoport</a>
        </p>
      </div>

      <div class="col s12 m6">
        <p>
          <img class="responsive-img img-border" style="margin-top: 5px;" width="600px" height="782px"
            src="img/online_kep_600x.jpg" />
        </p>

      </div>
    </div>
  </div>
</div>