<div class="container">

  {{!-- 
  <div class="section">
    <div class="row">
      <h5 class="light">Aktuálisan elérhető online órák</h5>
    </div>

    <div class="row">
      <div class="col s12 m6">

        <p class=" justify-text">
          Morning flow 5 alkalmas online jóga</br>
          <span class="light">Ajándék e-book melléklettel!</span>
        </p>
        <p class="light justify-text">Ébreszd fel a testet, frissítsd az elmét, állítsd be az irányt a reggeli online
          flowjóga órákon. A finom
          reggeli nyújtózkodástól a frissítő üdvözleteken át, kreatív ászanasorokkal és rövid meditációval várlak
          szeretettel.</br>
          Ha részt veszel az órákon, ingyenesen juthatsz hozzá a 108 inspiráció jógaórákhoz e-bookhoz!</br>
          A kiadvány külön is megvásárolható.</p>
        <p class="light justify-text">
          <b> Időpontok és témák:</b></br>
          Szeptember 23. 8 óra: Hála - folyékony áramlás</br>
          Szeptember 30. 8 óra: Energetizáló reggeli flow</br>
          Október 7. 8 óra: Figyelem - a jelenlét pillanata</br>
          Október 14. 8 óra: Teremtés - kreatív flow</br>
          Október 21. 10. 8 óra: Ébredj! - üdvözlet variációk</br>
        </p>
        <p class="light justify-text">
          Az online flowjóga órákat egy erre a célra létrehozott zárt csoportban tartom:
        </p>
        <a target="_blank"
          href="https://www.facebook.com/groups/2039772329788679">https://www.facebook.com/groups/2039772329788679</a>
        <p class="light justify-text">
          Az órák 2024. október 30-ig visszanézhetőek!
        </p>

      </div>
      <div class="col s12 m6">
        <p>
          <img class="responsive-img img-border" style="margin-top: 5px;" width="600px" height="400px"
            src="img/morning flow1.webp" />
        </p>

      </div>
      <div class="row">
        <div class="col s12 m12">
          <p class="light justify-text">
            Ára: <b>15 000 Ft</b> vagy <b>40 €</b></br>
            Utalási adatok:</br>
            Czvikli Zsuzsanna</br>
            OTP 11773061-08183116</br>
            <a href="https://paypal.me/czviklizs">paypal.me/czviklizs</a></br>
            Revolut: +36302037534</br>
            Wise: czviklizsuzsanna@gmail.com <br />
            Közlemény: számlázási címed
          </p>
        </div>
      </div>

    </div>
  </div>
  --}}

  <div class="section">
    <div class="row">
      <h5 class="light">Jógaórák</h5>
    </div>

    <div class="row">
      <div class="col s12 m6">

        <p class="light justify-text">
          Az óráim flow jellegűek, dinamikusak, de mégis tudatosak. Szeretem tematikus keretbe helyezni a gyakorlást: az aktuális tanulmányaim és a ti visszajelzéseitek egyaránt ihletet adnak egy-egy óra témájához.
        </p>
        <p class="light justify-text">
          Az összeállítás mindig lépésről lépésre épül: a könnyebb gyakorlatoktól haladunk az összetettebb ászanák felé, és minden nehezebb variációhoz kínálok egyszerűbb visszatérési lehetőséget. Intenzív, változatos gyakorlásra számíthatsz, relaxációval és ülőmeditációval zárva.
        </p>
        <p class="light justify-text">
          Élő órákat a <strong>Samadhi Jógastúdióban</strong> tartok: Budapest, XIII. kerület, Dráva u. 17.<br><br>
          Keddenként 19.30<br>
          Csütörtökönként 17.30
        </p>
        <p class="light justify-text">
          Bejelentkezés szükséges:
          <a target="_blank" href="https://www.samadhijoga.hu">samadhijoga.hu</a>.
        </p>
      </div>

      <div class="col s12 m6">
        <p>
          <img class="responsive-img img-border" style="margin-top: 5px;" width="600px" height="400px"
            src="img/mas_p_600x400.jpg" />
        </p>

      </div>
    </div>

    <div class="row">
      <h5 class="light">Kreatív Tavaszi Flow - 5 alkalmas online jóga sorozat</h5>
    </div>
    <div class="row">
      <div class="col s12 m12">
        <p class="light justify-text">
          A tavasz a lehetőségek ideje. Ahogy a rügyek kipattannak, úgy vágyik a lelked is a nyitásra, a színekre és a friss mozdulatokra.
        </p>
        <p class="light justify-text">
          Ez a 5 alkalmas online flow jóga sorozat arra hív, hogy a matracodon találd meg azt a belső rugalmasságot, ami segít átültetni a tavaszi megújulás energiáját a mindennapjaidba.
        </p>
        <p class="light justify-text">
          Tarts velem szerda reggelenként, és indítsd a napod egy olyan áramlással, ami feltölt, inspirál és segít kapcsolódni a saját kreatív forrásodhoz.
        </p>

        <p class="light justify-text">
          ✨ <b>Időpontok és témák:</b><br>
          A folyamat során a fizikai gyakorlást az önismereti mélyüléssel ötvözzük:
        </p>

        <p class="light justify-text" style="padding-left: 16px; border-left: 3px solid var(--gold); margin-bottom: 10px;">
          <b>Április 29. 9:00</b> - <b>Ébredő magvak:</b> A stabilitás és a türelem gyakorlása. Megkeressük az alapokat, amikből az új ötleteid és energiáid kisarjadnak.
        </p>
        <p class="light justify-text" style="padding-left: 16px; border-left: 3px solid var(--gold); margin-bottom: 10px;">
          <b>Május 6. 9:00</b> - <b>Kreatív hajtások:</b> A játékosság és a rugalmasság flowja. Engedd, hogy a mozdulatok szabadon, elvárások nélkül szülessenek meg.
        </p>
        <p class="light justify-text" style="padding-left: 16px; border-left: 3px solid var(--gold); margin-bottom: 10px;">
          <b>Május 13. 9:00</b> - <b>Színes áramlás:</b> Érzelmi tisztulás és frissesség. Mint a tavaszi zápor, úgy mossuk át a testünket és a gondolatainkat a légzés erejével.
        </p>
        <p class="light justify-text" style="padding-left: 16px; border-left: 3px solid var(--gold); margin-bottom: 10px;">
          <b>Május 20. 9:00</b> - <b>Napfényes kiterjedés:</b> Erő és ragyogás. Megtapasztaljuk a saját belső tüzünket, ami segít formába önteni a vágyainkat.
        </p>
        <p class="light justify-text" style="padding-left: 16px; border-left: 3px solid var(--gold); margin-bottom: 10px;">
          <b>Május 27. 9:00</b> - <b>Teljes virágzás:</b> Hála és bőség. Megünnepeljük a megtett utat és megérkezünk a jelen pillanat teljességébe.
        </p>

        <p class="light justify-text">
          💻 <b>Praktikus információk:</b><br>
          Az órákat egy zárt Facebook csoportban közvetítem élőben, itt tudsz csatlakozni a közösségünkhöz:<br>
          👉 Kreatív Tavaszi Flow Zárt Csoport:
          <a target="_blank" href="https://www.facebook.com/groups/1461990561664800">https://www.facebook.com/groups/1461990561664800</a>
        </p>
        <p class="light justify-text">
          <b>Visszanézhetőség:</b> Az órák 60 percesek. Ha nem érsz rá szerda reggel 9-kor, az összes gyakorlást bármikor, korlátlanul visszanézheted egészen május 31-ig!
        </p>

        <p class="light justify-text">
          💰 <b>Részvételi díj:</b><br>
          A 5 alkalmas kurzus ára: <b>15.000 Ft</b> vagy <b>40 €</b>
        </p>

        <p class="light justify-text">
          💳 <b>Jelentkezés és utalás:</b><br>
          A helyedet az utalással tudod biztosítani. Kérlek, az alábbi adatok egyikére küldd el az összeget:<br>
          Név: Czvikli Zsuzsanna<br>
          Bank: OTP 11773061-08183116<br>
          Revolut: czviklizs
        </p>

        <p class="light justify-text">
          <b>Találkozzunk szerdán a matracon!</b>
        </p>
      </div>
    </div>

    <div class="row">
      <h5 class="light">Online jóga órák</h5>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <p class="light justify-text">
          Az aktuális, élőben közvetített online óráimról a Facebook-oldalamon értesülhetsz.
        </p>
        <p class="light justify-text">
          A Videó-tárból is válogathatsz: a jogokhoz gmail-cím szükséges, időkorlát nélkül adom, aktuális árakért érdeklődj privát üzenetben.
        </p>
        <p class="light justify-text">
          Az online jóga más, mint személyesen együtt gyakorolni, de megvannak a maga varázslatos előnyei:
        </p>
        <p class="light justify-text">
          Jógázhatsz otthonról, bármelyik szobádban, a teraszon vagy a kertben, menő jógaruha nélkül, akár pizsiben is. Nem kell sehova rohanni: akkor kezdesz, amikor neked a legjobb, és a belső csendedben addig maradsz, ameddig jólesik.
        </p>
        <p class="light justify-text">
          Ha messze laksz, vagy valamelyik gyakorlatot ki szeretnéd hagyni, módosítani, megteheted, teljesen szabadon. Az órákat később is visszanézheted, bármikor újra gyakorolhatsz rájuk.
        </p>
        <p class="light justify-text">
          Az ár is lehet rugalmas, ha rosszul állsz anyagilag de nagyon szeretnél velem gyakorolni, írj nekem. 
        </p>
        <p class="light justify-text">
          És bár egyedül vagy otthon, mégis egy valódi közösség részévé válsz.
        </p>
        <p class="light justify-text">
          Alkalmanként online workshopokat és tematikus órákat is tartok – a részleteket a Facebook oldalamon találod.
        </p>
        <p>
          <i class="icon-facebook-official"></i>
          <a target="_blank" href="https://www.facebook.com/groups/1618733441743789">Facebook Jógázz mindennap zárt
            csoport</a>
        </p>
      </div>

      <div class="col s12 m6">
        <p>
          <img class="responsive-img img-border" style="margin-top: 5px;" width="600px" height="782px"
            src="img/oraim_fotoq.webp" />
        </p>

      </div>
    </div>
  </div>
</div>