<div class="container">

  <div class="section">
    <div class="row">
      <h5 class="light">Aktuálisan elérhető online órák</h5>
    </div>

    <div class="row">
      <div class="col s12 m6">

        <p class="light justify-text">
         Flow time - 6 alkalmas online flowjóga</p>

        <p class="light justify-text">
          <b> Időpontok:</b></br>
          Január 24. 9:00 - Ganesha gyakorlás az akadályok elhárításáért</br>
          Január 31. 9:00 - Pincha Mayur aszana flow - Az erő ami a tiéd</br>
          Február 7. 9:00 - Yin-Yang flow - Szárnyalás és megérkezés</br>
          Február 14. 9:00 - Szeretet flow - Áramlás a tápláló tűzzel</br>
          Február 21. 9:00 - Paradicsommadár - Hullámzással a rugalmasságért </br>
          Február 28. 9:00 - Yin flow - A megengedés művészete
        </p>
        <p class="light justify-text">
          Az online flowjóga órákat egy erre a célra létrehozott zárt csoportban tartom:
        </p>
        <a target="_blank"
          href="https://www.facebook.com/groups/1491787214716002/">https://www.facebook.com/groups/1491787214716002</a>
        <p class="light justify-text">
          Az órák 2024. március 20-ig visszanézhetőek!
        </p>

        <p class="light justify-text">
          Ára: <b>15 000 Ft</b> vagy <b>40 €</b></br>
          Utalási adatok:</br>
          Czvikli Zsuzsanna</br>
          OTP 11773061-08183116</br>
          <a href="https://paypal.me/czviklizs">paypal.me/czviklizs</a></br>
          Revolut: +36302037534</br>
          Wise: czviklizsuzsanna@gmail.com
          Közlemény: számlázási címed
        </p>

      </div>
      <div class="col s12 m6">
        <p>
          <img class="responsive-img img-border" style="margin-top: 5px;" width="600px" height="400px"
            src="img/flow time 2024.webp" />
        </p>

      </div>

    </div>
  </div>

  <div class="section">
    <div class="row">
      <h5 class="light">Óráim</h5>
    </div>

    <div class="row">
      <div class="col s12 m6">

        <p class="light justify-text">Jóga óráim leginkább flow jellegű
          jógaórák. Imádom a tematikus órákat, így sokszor jelentkezem különféle
          témákkal amiket az aktuális tanulmányaim, vagy a ti kérésetek
          ihlettek. Szeretem az óráimat úgy összeállítani, hogy lépésenként
          haladunk a könnyebb gyakorlatoktól a nehezebb ászanák felé, hogy
          mindig legyen lehetőséged visszatérni egy könnyebb verzióhoz.
          Intenzív, változatos gyakorlásokra számíthatsz, belső csend
          meditációval fűszerezve.
        </p>
        <p class="light justify-text">
          Élő óráimat a
          <b>Samadhi Jógastúdió</b>ban tartom. Cím: Budapest, XIII. Kerület,
          Dráva u. 17.
        </p>
        <p class="light justify-text">Az órákra bejelentkezés szükséges:
          <a target="_blank" href="https://www.samadhijoga.hu">
            samadhijoga.hu</a>
        </p>
      </div>

      <div class="col s12 m6">
        <p>
          <img class="responsive-img img-border" style="margin-top: 5px;" width="600px" height="400px"
            src="img/mas_p_600x400.jpg" />
        </p>

      </div>
    </div>

    <div class="row">
      <h5 class="light">Online jóga órák</h5>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <p class="light justify-text">
          Az aktuális online jógaóráimról a facebook oldalamon keresztül
          értesülhetsz. A személyes jógaórák varázsa helyett az online
          jógaóráknak is megvannak az előnyei:
        <ul class="light justify-text">
          <li>otthonról jógázhatsz bármelyik szobádban, a teraszodon, vagy
            akár a kertben is</li>
          <li>nem kell semmilyen menő jógaruha, akár pizsiben is jógázhatsz</li>
          <li>addig maradsz benne a belső csendedben, ameddig jól esik</li>
          <li>akkor jógázol, amikor számodra a legkényelmesebb</li>
          <li>úgy is tudsz velem jógázni, ha nagyon messze laksz</li>
          <li>bármelyik gyakorlatot kihagyhatod vagy módosíthatod, anélkül
            hogy ezt bárki észrevenné</li>
          <li>egyedül vagy, mégis érezheted a közösségi élményt</li>
          <li>az órákat néhány napon belül visszanézheted, újból gyakorolhatsz
            rá</li>
          <li>te döntöd el, mennyit tudsz utalni érte, ha elvesztetted a
            munkádat, akár ingyenesen is jógázhatsz velem</li>
          <li>olyan emberekkel ismerkedhetsz meg ebben a szuper közösségben,
            akikkel máshogy nem találkozhatnál</li>
        </ul>
        </p>
        <p>Online workshopokat és tematikus órákat alkalmanként tartok,
          részletek a facebook csoportomban.</p>
        <p>
          <i class="icon-facebook-official"></i>
          <a target="_blank" href="https://www.facebook.com/groups/1618733441743789">Facebook Jógázz mindennap zárt
            csoport</a>
        </p>
      </div>

      <div class="col s12 m6">
        <p>
          <img class="responsive-img img-border" style="margin-top: 5px;" width="600px" height="782px"
            src="img/online_kep_600x.jpg" />
        </p>

      </div>
    </div>
  </div>
</div>