<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h3 class="header center">Czvikli Zsuzsanna Jógaoktató</h3>
        <div class="row center">
            <img width="1600px" height="900px" class="responsive-img" style="margin-top: 5px;" src="img/jogazzmindennap_title_image-2.webp">
            <h5 class="header col s12 light">Jógázz minden nap!</h5>
        </div>
    </div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <h5 class="light">Rólam</h5>
        </div>
        <div class="row">
            <div class="col s12 m6">

                <p class="light justify-text">
                    Hogyan lettem jógaoktató?</br>
                    Visszatekintve az életemre, egyenes út vezetett idáig. Mozogni mindig szerettem,
                    kezdve a művészi tornával, majd jazz-balett és egyéb műfajok váltották egymást
                    huszonéves koromig, amikor aerobik oktatóvá váltam. 15 évig meg is maradt ez a
                    szerelem, az első jógaóráig...</br>
                    A jógához mégsem a mozgás vezetett el, hanem a keresés. Több éven keresztül jártam
                    mindenféle önismereti programokra. 2006-ban részt vettem Indiában az Egység
                    Egyeteme 21 napos kurzusán, ami megváltoztatta az életemet. Napi szintű meditációk,
                    felismerések, önismereti programok és szertartások transzformáló hatása elképesztő.
                    Viszont hiába sportoltam előtte, a fizikai testem nehezen viselte a meditációs ülést több
                    órán keresztül, így realizáltam, hogy a jóga gyakorlása elkerülhetetlen számomra. </br>
                    Az első jóga órán nagy örömmel ismertem fel, hogy összeköthetem az akkor még
                    általam különválasztott két világot: a mozgást és a meditációt. Tudtam, hogy ez lesz az
                    én utam! </br>
                    A megvalósítás még pár évet váratott magára. Első lépésként az Alternatív mogzás-és
                    masszázsterapeuta képzést végeztem el thai masszázs szakiránnyal. Pár hónapig
                    praktizáltam, majd a várandósság alatt fel kellett hangynom minden fizikai
                    tevékenységgel. </br>
                    Az első jóga oktató képzésre kismama koromban találtam rá. Életem legjobb döntése
                    volt, hogy elindultam ezen az úton. Sorra elvégeztem a gerincjóga, hatha jóga, jóga
                    mozgásterapeuta, gyerekjóga, flow jóga, ashtanga jóga, fasciális jógaterápia
                    képzéseket. Ekkor jött a másik nagy szerelem: a fasciális szemlélet. Egy új nézőpont
                    ami magával sodort, Az integrált manuál terápiát 2016 óta tanulom és alkalmazom
                    egyéni terápiákban. A fasciális szemlélet elkerülhetetlenül része lett a jóga
                    gyakorlásaimnak, így ha velem gyakorolsz, az óráimon is megtapasztalhatod.
                </p>
            </div>

            <div class="col s12 m6">
                <p>
                    <img class="responsive-img img-border" style="margin-top: 5px;" width="800px" height="800px"
                        src="img/czs_rolam.jpg">
                </p>

            </div>

        </div>

        <div class="row">
            <h5 id="a-kozosseg" class="light">Közösség</h5>
        </div>
        <div class="row">

            <div class="col s12 m6">
                <p class="light justify-text">
                    2015-ben született az ötlet, hogy legyen egy zárt csoport, ahol csak mi jógások találkozunk.
                    Azzal a céllal hoztam létre a csoportot, hogy egymás között megosszuk a tapasztalatainkat,
                    gyakorlásunkról készült fényképeket, jóga programokat. Később amikor az otthonomban tartottam jóga
                    órákat, workshopokat, ez a csoport volt a jógázó közösségünk virtuális tere. Ekkor született a
                    kihívás
                    program, melynek lényege, hogy 16 napon keresztül minden nap van egy ászana feladvány, amit aznap
                    lehet
                    posztolni az oldalra. Aki minden nap posztol, értékes nyereményekhez juthat. A jógázz minden nap
                    csoport
                    jelenleg ezeknek a programoknak a színtere. Egy támogató közösség, ahol sok jófej jógi támogatja
                    egymást, igazi motiváció a mindennapos jógázáshoz.


                </p>
            </div>

            <div class="col s12 m6">
                <p>
                    <img class="responsive-img img-border" style="margin-top: 5px;" width="800px" height="800px"
                        src="img/kollazs.jpg">
                </p>

            </div>

        </div>
    </div>
</div>