<div class="container">
  <div class="section">
    <div class="row">

      <div class="row">
        <h5 class="light">Jóga, önismeret és meditáció elvonulás</h5>
        <p>Következő elvonulás: május 16-18. Harsány, Részletek hamarosan!</p>
      </div>

      <div class="row">
        <div class="col s12 m6">
          {{!-- <p class="">
            2024. június 20-23.
          </p>
          <p>
            Helyszín: Harsány
          </p> --}}
          <p><b>Szervezés alatt!</b></p>
          <p class="light justify-text">
            A nyári Flow jógatáborunk fókuszában a csúcsászanák lesznek, sok-sok magyarázattal, mobility gyakorlatokkal.
            Ha szeretnéd mélyíteni a tudásod, gyakorlásod, ha kíváncsi vagy mi minden lehetséges még, gyere velünk erre
            a négy napra. Nyár lesz, jó idő, csicsergő madarak, tábortűz, jó társaság, finom ételek és két gyakorlás
            között még a medencébe is becsobbanhatsz.<br />
            A napirendet igyekeztünk úgy összerakni, hogy bőven jusson idő pihenésre, napozásra, vagy könyvlapozgatásra,
            beszélgetésre. A többi csak rajtad múlik.<br />
            </br>
            <b>Mi vár rád?</b></br>
            ✨Jóga. Fókuszban ezúttal a csúcsászanák lesznek. Anatómiai magyarázatokkal, sok-sok gyakorlási
            lehetőséggel,
            mobility tréningekkel. Mélyülj el a Flow Jóga gyakorlásban, élvezd az áramlást.
            </br>
            ✨Kreatív foglalkozás, kikapcsolódás. Engedd szabadjára a belső művészedet.
            </br>
            ✨Meditáció a tó parton. Bebizonyítjuk, hogy a meditáció mindenki számára elérhető, erre most egy
            igazán
            különleges helyet találtunk.
            </br>
            ✨Közösségi élmények: Kapcsolódj másokkal, találkozz új emberekkel, nevess, légy nyitott és teremts
            emlékezetes pillanatokat.
            </br>
            ✨Jakuzzi, medence. A reggeli jógaórák után fanatsztikus lesz csobbanni egy nagyot.
            </br>
            ✨Finom és egészséges ételek. Napi háromszori étkezéssel. Az érkezés napján vacsora, pénteken és
            szombaton
            reggeli, ebéd, vacsora, vasárnap pedig reggeli vár majd. Az ételekről Slezak Zsuzsi gondoskodik, aki nem
            mellesleg csodás képeket is készít majd rólunk.</br>
            </br>
            {{!-- <b>Részvételi díj: 99.000 Ft</b></br>
            Jelentkezéskor 45.000 ft a foglaló, 49.000 ft a helyszínen fizetendő. Amennyiben számodra könnyebbséget
            jelentene, van lehetőség 3 részletben való fizetésre.</br>
            A részvételi díj tartalmazza:</br>
            - Szállást (2-3 ágyas szobákban)</br>
            - A napi jógaórákat és meditációkat</br>
            - Az étkezést</br>
            - A medence, jakuzzi használatot</br>
            - Kreatív, alkotó foglalkozást, és minden kiegészítő programot</br>

            </br> --}}

            {{!-- <b>Szállás</b></br>
            Egy szuper hangulatos, toszkán stílusú vendégházat választottunk, kényelmes, hangulatos belső terekkel,
            medencével, növényekkel, madárcsicsergéssel. A teljes ház a rendelkezésünkre áll, hogy kényelmesen elférjünk
            és biztosan senki ne zavarja a feltöltődést. Lesz lehetőségünk kint is jógázni a medence partján, vagy bent
            zárt térben, ha éppen az szolgálja a gyakorlást.</br>
            - 2-3 ágyas szobák</br>
            - közös terek</br>
            - medence</br>
            - wifi</br>
            </br>
            Jelentkezés: írj nekem, vagy töltsd ki ezt az űrlapot:<br />
            <a target="_blank" href="https://forms.gle/C1pq6JytUXxTLytJ6">jelentkezési lap</a>
          </p>
          <p class="light justify-text">
            A tábort <a target="_blank" href="https://www.innerperspective.me/">Erdélyi Adriennel</a> közösen tartjuk.
          </p> --}}



        </div>
        <div class="col s12 m6">
          <p>
            <img class="  responsive-img img-border" style="margin-top: 5px;" src="img/Flowtabor_borito.webp">
          </p>

        </div>
      </div>

      {{!-- <div class="row">
        <p class="center-text">
          <a class="cta-1" href="#jelentkezes">Jelentkezem a táborba!</a>
        </p>
      </div> --}}



      {{!-- <div class="row">
        <div class="">
          <h5 class="light">Jógatábor ára:</h5>
          <p class="light justify-text">
            Jóga tábor program díja: <b>30.000 Ft</b><br />
            Előleget részünkre nem szükséges fizetni de kérlek ha szándékozol jönni, mielőbb töltsd ki a jelentkezési
            lapot, hogy számítsunk rád. <br />
            Jelentkezés itt: <a target="_blank" href="https://forms.gle/ApwWH9DGgp2pcH1u6">Jelentkezési lap</a>
          </p>

          <h5 class="light">Szállás:</h5>
          <p class="light justify-text">
            Szállás foglalás önállóan történik a <a target="_blank" href="https://wellnesshotel.hu/">szállodánál</a>. Az
            árak csak ránk vonatkoznak csoportos foglalás keretein belül, így amikor regisztrálsz jelezd, hogy a
            jógatáborban szeretnél részt venni.
            A foglalás kizárólag <b>2022. december 5. és január 15. között lehetséges.</b><br />
            Elhelyezés négyágyas szobában teljes ellátással (reggeli, ebéd, vacsora): <b>37.500 Ft</b>, félpanziós
            ellátással (reggeli, vacsora): <b>33.800 Ft</b><br />
            Elhelyezés háromágyas szobában teljes ellátással: 39500, félpanziós ellátással: <b>35.800 Ft</b><br />
            Elhelyezés kétágyas szobában teljes ellátással: 41500, félpanziós ellátással: <b>37.800 Ft</b><br />
            Elhelyezés egyágyas szobában: teljes ellátással: 51500, félpanziós ellátással (reggeli, vacsora): <b>47.800
              Ft </b>


          </p>
          <p class="light justify-text">
            Jelentkezési határidó: <b>január 15.</b> <br />
            Lemondási feltételek a szálloda szabályai szerint.
          </p>

          <p class="light justify-text">
            <b>Duna Relax Hotel****</b></br>
            Budapest-től 47 kilométerre, Ráckeve szívében található Duna Relax Hotel. A négycsillagos hotel szobái (4
            kivételével) a Dunára néznek. A szállodát hangulatos park veszi körül, amelynek enteriőrje elegáns angol
            stílusú. </br>
            </br>
            Cím: 2300 Ráckeve, Dömsödi út 1. a </br>
            E-mail: recepcio@wellnesshotel.hu </br>
            Telefon: +36 24 523 230 </br>
          </p>

          <h5 class="light">Étkezés:</h5>
          <p class="light justify-text">
            Napi háromszori vegetáriánus étkezés, amiről közeli ismerősünk, <a target="_blank"
              href="https://www.facebook.com/profile.php?id=100063496174880"><b>Molnár Dóra</b></a> fog gondoskodni.
          </p>
        </div> --}}

        {{!-- <div class=" center-text">
          <p>
            <img class="  responsive-img img-border" style="margin-top: 5px;" width="512px" src="img/meka_2022_09.jpg">
          </p>
        </div> --}}
      </div>

      {{!-- <div class="row">
        <h5 class="light">A tábort vezeti</h5>
        {{> czs_kz.hbs}}
      </div> --}}

    </div>

    <div class="section">
      <div class="row">
        <h5 class="light">Nézz bele a előző táborunkba</h5>
      </div>

      <div class="row">

        {{#each images }}
        <div class="col s12 m6">

          <img class="responsive-img img-border" style="margin-top: 5px;" loading="lazy" width="512px" height="342px"
            src="img/tabor/2024_harsany/{{this}}">

        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>