<div class="container">
  <div class="section">
    <div class="row">

      <div class="row">
        <h5 class="light">Jógatábor kezdőknek és haladóknak</h5>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <p class="">
            Következő időpont: 2023. június 2-4.
          </p>
          <p>
            Helyszín: Garáb
          </p>
          <p class="light justify-text">
            Tábor ára: 3 x 24000 ft (szállás, kettő 90 perces hangfürdő, jógaprogramok, füstölő szertartás)<br />
            Szállás: valójában ez kicsit kevesebb lesz a csoportos kedvezmény miatt, így 20000-21600 ft-ra számíts/fő/2
            éj. Ezt az összeget a helyszínen fizesd a szállásadónak. Elhelyezés 2 fős szobákban. <br />
            Hangfürdő: 2 90 perces hangfürdőn veszünk részt <b>Madaras Annamari Anikó</b> vezetésével. Ennek ára 24000
            ft.
          </p>

          <h5 class="light">Jógaprogramok:</h5>


          <p class="light justify-text">
            4 jógaóra, csoportos önismereti foglalkozások, idegenvezetés amit a helyi házigazda tart,
            füstölőszertartás. Ennek ára szintén 24000 ft.
          </p>

          <p class="light justify-text">
            Étkezés: <br />
            önköltséges. Van egy jó étterem, ahova előre leadhatjuk az igényeket, ha valakinek
            ételérezékenysége van, illetve itt lehet jelezni a vegán/vegetáriánus menüigényt. Ezeket az infókat én
            gyűjtöm, ezért kérlek jelezd nekem. Az apartmanokban jól felszerelt konyhák vannak, így hozhatod is
            magaddal az ételt ha neked úgy kényelmesebb.

          </p>



        </div>
        <div class="col s12 m6">
          <p>
            <img class="  responsive-img img-border" style="margin-top: 5px;" src="img/2023_tabor_garab_betelt.webp">
          </p>

        </div>
      </div>

      {{!-- <div class="row">
        <p class="center-text">
          <a class="cta-1" href="#jelentkezes">Jelentkezem a táborba!</a>
        </p>
      </div> --}}



      {{!-- <div class="row">
        <div class="">
          <h5 class="light">Jógatábor ára:</h5>
          <p class="light justify-text">
            Jóga tábor program díja: <b>30.000 Ft</b><br />
            Előleget részünkre nem szükséges fizetni de kérlek ha szándékozol jönni, mielőbb töltsd ki a jelentkezési
            lapot, hogy számítsunk rád. <br />
            Jelentkezés itt: <a target="_blank" href="https://forms.gle/ApwWH9DGgp2pcH1u6">Jelentkezési lap</a>
          </p>

          <h5 class="light">Szállás:</h5>
          <p class="light justify-text">
            Szállás foglalás önállóan történik a <a target="_blank" href="https://wellnesshotel.hu/">szállodánál</a>. Az
            árak csak ránk vonatkoznak csoportos foglalás keretein belül, így amikor regisztrálsz jelezd, hogy a
            jógatáborban szeretnél részt venni.
            A foglalás kizárólag <b>2022. december 5. és január 15. között lehetséges.</b><br />
            Elhelyezés négyágyas szobában teljes ellátással (reggeli, ebéd, vacsora): <b>37.500 Ft</b>, félpanziós
            ellátással (reggeli, vacsora): <b>33.800 Ft</b><br />
            Elhelyezés háromágyas szobában teljes ellátással: 39500, félpanziós ellátással: <b>35.800 Ft</b><br />
            Elhelyezés kétágyas szobában teljes ellátással: 41500, félpanziós ellátással: <b>37.800 Ft</b><br />
            Elhelyezés egyágyas szobában: teljes ellátással: 51500, félpanziós ellátással (reggeli, vacsora): <b>47.800
              Ft </b>


          </p>
          <p class="light justify-text">
            Jelentkezési határidó: <b>január 15.</b> <br />
            Lemondási feltételek a szálloda szabályai szerint.
          </p>

          <p class="light justify-text">
            <b>Duna Relax Hotel****</b></br>
            Budapest-től 47 kilométerre, Ráckeve szívében található Duna Relax Hotel. A négycsillagos hotel szobái (4
            kivételével) a Dunára néznek. A szállodát hangulatos park veszi körül, amelynek enteriőrje elegáns angol
            stílusú. </br>
            </br>
            Cím: 2300 Ráckeve, Dömsödi út 1. a </br>
            E-mail: recepcio@wellnesshotel.hu </br>
            Telefon: +36 24 523 230 </br>
          </p>

          <h5 class="light">Étkezés:</h5>
          <p class="light justify-text">
            Napi háromszori vegetáriánus étkezés, amiről közeli ismerősünk, <a target="_blank"
              href="https://www.facebook.com/profile.php?id=100063496174880"><b>Molnár Dóra</b></a> fog gondoskodni.
          </p>
        </div> --}}

        {{!-- <div class=" center-text">
          <p>
            <img class="  responsive-img img-border" style="margin-top: 5px;" width="512px" src="img/meka_2022_09.jpg">
          </p>
        </div> --}}
      </div>

      {{!-- <div class="row">
        <h5 class="light">A tábort vezeti</h5>
        {{> czs_kz.hbs}}
      </div> --}}

    </div>
  </div>

  {{!-- <div class="section">
    <div class="row">
      <h5 class="light">Nézz bele a tavaszi táborunkba</h5>
    </div>

    <div class="row">

      {{#each images }}
      <div class="col s12 m6">

        <img class="responsive-img img-border" style="margin-top: 5px;" loading="lazy" width="512px" height="342px"
          src="img/tabor/{{this}}">

      </div>
      {{/each}}
    </div>
  </div> --}}
</div>