<div class="container">
  <div class="section">
    <div class="row">
      <h1 class="light center-text" style="font-size: 2.5rem;">3 nap jóga, nyugalom és kapcsolódás</h1>
      <p class="center-text" style="font-size: 1.3rem;"><b>Jóga • Meditáció • Természetközeli pillanatok</b></p>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <p class="light justify-text">
          Ahogy a természet kikeletkor új életre kel, bennünk is megjelenik a vágy a megújulásra. Hogy megálljunk, meghalljuk mire van szükségünk, fellélegezzünk.<br><br>
          A Duna közelében, a természet lágy ölén várunk, ahol a levegő tiszta, a nap sugarai játszanak a fák között. A hely nyugalmat ad, a tópart látványa megnyugtatja a lelkedet, és segíti a befelé figyelést.<br><br>
          Egy támogató közösség vár, ahol jó lenni, ahogy a szívednek jó.<br><br>
          Minden pillanat lehetőség az ébredésre.
        </p>
        <p class="light justify-text">
          <b>Amiben részesülsz:</b><br>
          • Könnyed mozgás és ellazulás<br>
          • Önismereti játékok<br>
          • Kapcsolódás a természettel<br>
          • Finom, kemencében sült vegetáriánus ételek helyi zöldségekből<br>
          • Szauna és jacuzzi
        </p>
        <p>
          <b>Helyszín:</b> Vámosszabadi, Téglás<br>
          <b>2–6 ágyas szobák, napi 3 vegetáriánus étkezéssel</b>
        </p>
        <p>
          <b>Hozzájárulás:</b> 79.000 Ft<br>
          <b>Előleg (helyfoglaláshoz):</b> 50.000 Ft<br>
          <b>Hozz magaddal valakit kedvezménnyel:</b> 75.000 Ft/fő
        </p>
        <p>
          <b>Jelentkezés:</b> <a target="_blank" href="https://forms.gle/hQetH21iehgGRh43A">https://forms.gle/hQetH21iehgGRh43A</a><br>
          <b>Fizetés:</b> készpénzben vagy utalással<br>
          OTP: 11773061-08183116<br>
          Revolut: czviklizs
        </p>
        <p>
          <b>Érkezés:</b> pénteken 14 órától<br>
          <b>Első jógaóra:</b> 17.30<br>
          <b>Zárókör:</b> vasárnap 13.00–14.00<br>
          <b>Létszám:</b> max 15 fő
        </p>
      </div>
      <div class="col s12 m6">
        <p>
          <img class="responsive-img img-border" style="margin-top: 5px;" src="img/tabor_foto_2026.png">
        </p>
      </div>
    </div>

    <div class="section">
      <div class="row">
        <h5 class="light">Nézz bele a előző táborunkba</h5>
      </div>

      <div class="row">

        {{#each images }}
        <div class="col s12 m6">

          <img class="responsive-img img-border" style="margin-top: 5px;" loading="lazy" width="512px" height="342px"
            src="img/tabor/2024_harsany/{{this}}">

        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>