<div class="container">
  <div class="section">
    <div class="row">

      <div class="row">
        <h5 class="light">Jógatábor kezdőknek és haladóknak</h5>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <p class="">
            Következő időpont: 2023. január 27. - 29.
          </p>
          <p>
            Helyszín: Ráckeve, Duna Relax Hotel
          </p>
          <p class="light justify-text">
            Tél végén gyakran kimerülnek a tartalékaink. Teremts egyensúlyt magadban jóga és wellness táborunkban ahol a
            jógaórák, meditációk, önismereti programok mellett szaunával és vitamindús ételekkel, gyümölcslevekkel
            töltődhetsz hogy frissen várd a tavaszt... 🙂
          </p>

          <h5 class="light">Programok:</h5>

          <ul>
            <p class="light justify-text">
              <b>Január 27. Péntek </b><br />
              13.00 érkezés, szobák átvétele, szaunázás<br />
              17.30 jóga<br />
              19.00 vacsora<br />
              20.00 nyitó kör
            </p>
            <p class="light justify-text">
              <b>Január 28. Szombat</b> <br />
              7.00 meditáció, jóga<br />
              9.00 reggeli<br />
              10.00-13.00 szaunázás/kirándulás<br />
              13.00 ebéd<br />
              14.00 önismereti játékok<br />
              15.30 spirituális filmvetítés<br />
              17.30 jóga<br />
              19.00 vacsora<br />
              20.00 esti program (meditáció/zene/játék)
            </p>
            <p class="light justify-text">
              <b>január 29. vasárnap</b><br />
              7.00 meditáció, jóga<br />
              9.00 reggeli<br />
              10.00 szobák átadása<br />
              11.00 szauna<br />
              12.00 záró kör
            </p>

          </ul>

        </div>
        <div class="col s12 m6">
          <p>
            <img class="  responsive-img img-border" style="margin-top: 5px;" src="img/aktualis_2023_01.webp">
          </p>

        </div>
      </div>

      {{!-- <div class="row">
        <p class="center-text">
          <a class="cta-1" href="#jelentkezes">Jelentkezem a táborba!</a>
        </p>
      </div> --}}



      <div class="row">
        <div class="">
          <h5 class="light">Jógatábor ára:</h5>
          <p class="light justify-text">
            Jóga tábor program díja: <b>30.000 Ft</b><br />
            Előleget részünkre nem szükséges fizetni de kérlek ha szándékozol jönni, mielőbb töltsd ki a jelentkezési
            lapot, hogy számítsunk rád. <br />
            Jelentkezés itt: <a target="_blank" href="https://forms.gle/ApwWH9DGgp2pcH1u6">Jelentkezési lap</a>
          </p>

          <h5 class="light">Szállás:</h5>
          <p class="light justify-text">
            Szállás foglalás önállóan történik a <a target="_blank" href="https://wellnesshotel.hu/">szállodánál</a>. Az
            árak csak ránk vonatkoznak csoportos foglalás keretein belül, így amikor regisztrálsz jelezd, hogy a
            jógatáborban szeretnél részt venni.
            A foglalás kizárólag <b>2022. december 5. és január 15. között lehetséges.</b><br />
            Elhelyezés négyágyas szobában teljes ellátással (reggeli, ebéd, vacsora): <b>37.500 Ft</b>, félpanziós
            ellátással (reggeli, vacsora): <b>33.800 Ft</b><br />
            Elhelyezés háromágyas szobában teljes ellátással: 39500, félpanziós ellátással: <b>35.800 Ft</b><br />
            Elhelyezés kétágyas szobában teljes ellátással: 41500, félpanziós ellátással: <b>37.800 Ft</b><br />
            Elhelyezés egyágyas szobában: teljes ellátással: 51500, félpanziós ellátással (reggeli, vacsora): <b>47.800
              Ft </b>


          </p>
          <p class="light justify-text">
            Jelentkezési határidó: <b>január 15.</b> <br />
            Lemondási feltételek a szálloda szabályai szerint.
          </p>

          <p class="light justify-text">
            <b>Duna Relax Hotel****</b></br>
            Budapest-től 47 kilométerre, Ráckeve szívében található Duna Relax Hotel. A négycsillagos hotel szobái (4
            kivételével) a Dunára néznek. A szállodát hangulatos park veszi körül, amelynek enteriőrje elegáns angol
            stílusú. </br>
            </br>
            Cím: 2300 Ráckeve, Dömsödi út 1. a </br>
            E-mail: recepcio@wellnesshotel.hu </br>
            Telefon: +36 24 523 230 </br>
          </p>
          {{!--
          <h5 class="light">Étkezés:</h5>
          <p class="light justify-text">
            Napi háromszori vegetáriánus étkezés, amiről közeli ismerősünk, <a target="_blank"
              href="https://www.facebook.com/profile.php?id=100063496174880"><b>Molnár Dóra</b></a> fog gondoskodni.
          </p> --}}
        </div>

        {{!-- <div class=" center-text">
          <p>
            <img class="  responsive-img img-border" style="margin-top: 5px;" width="512px" src="img/meka_2022_09.jpg">
          </p>
        </div> --}}
      </div>

      <div class="row">
        <h5 class="light">A tábort vezeti</h5>
        {{> czs_kz.hbs}}
      </div>

    </div>
  </div>
  <div class="section">
    <div class="row">
      <h5 class="light">Nézz bele a tavaszi táborunkba</h5>
    </div>

    <div class="row">

      {{#each images }}
      <div class="col s12 m6">

        <img class="responsive-img img-border" style="margin-top: 5px;" loading="lazy" width="512px" height="342px"
          src="img/tabor/{{this}}">

      </div>
      {{/each}}
    </div>
  </div>
</div>